
<ion-content color="medium">
    <ion-grid>
        <ion-row>
          <ion-col>
              <a routerLink="/tabs/tab-user"><ion-icon name="arrow-back" 
               style="font-size: 2em" color="dark"></ion-icon></a>
          </ion-col>
         
        </ion-row>
    </ion-grid>
   
  <br>
    <h2 no-margin margin-vertical text-center style="color: #000000">ESTADISTICAS DE CUENTA</h2> <br>
   
    <ion-card color="light">


        <div style="text-align: center; width: 100%;"  *ngIf="estadisticasshow!=null">
    
    
            <table  style="text-align: center;   " >
            
            
              <thead style="text-align: center; width: 100%;">
                <tr style="text-align: center; width: 100%;">
                  <!-- <th style="text-align: center; width: 50%;">Medidas:</th>
                  <th style="text-align: center; width: 35%; ">Valor:</th>
                  <th style="text-align: center; width: 15%; ">Unidad:</th> -->
                </tr>
              </thead>
            
              <br>  
      
              <tbody style="text-align: center; width: 100%;" *ngFor="let i of estadisticasshow" >
                  <tr style="text-align: center; width: 100%;">
                    <td style="text-align: left; width: 50%;">{{i.name}}</td>
                    <!-- <td style="text-align: center; width: 50%; "> -->
                      <!-- <input style="text-align: center; width: 35%; " class="imputs" type="number" [formControlName]="x" placeholder="Valor" name='weight'> -->
                    <!-- </td> -->
                    <!-- <td style="text-align: center; width: 15%;">{{i.medida}}</td>       -->
                  </tr>
      
                  <tr style="text-align: left; width: 100%;">
                    <td style="text-align: left; width: 100%; ">
                      <a style="text-align: left; width: 70%; height:35px " class="imputs" type="number" >{{i.estadistica_nombre}}</a>                      0
                    </td>
                  </tr>
              </tbody>
            </table>
            </div>




      
     <!-- <div  *ngFor="let estadistica of estadisticasshow">
      <p style="position: relative;text-align:center">{estadistica.estadistica_nombre}</p>
      <br>
    </div> -->



    </ion-card>
</ion-content>
