

<ion-content no-padding color="diseno1">


  <ion-row class="row">

      <img src="assets/cyrusLogo.svg" class="img-logo">




  </ion-row>

  <div class="hr">

  </div>

<!-- <div class="main"> -->


<!-- 
<ion-content no-padding color="medium"> -->
  <div class="espacio-de-cuarenta">

  </div>










<section >




 
  <ion-card-content>   
<ion-card-content>    
 
<form  class="centra"  novalidate>




    <ion-card style=" margin: auto; width:200px; height: 180px;    border-radius: 50%;
    overflow:hidden;" class="myCard">
      <img style="  margin: auto; width:200px; height: 180px;    border-radius: 50%;
      overflow:hidden;" src="assets/images/user.png"/>
      <div style="margin: auto;" class="myOverlay">
      <div style="margin: auto; position: relative; left: 0%; top: 5%;" class="card-title">  <ion-icon style=" margin: auto; width:20ch; height: 20ch;" name="add"></ion-icon>
      </div>

      </div>
    </ion-card>
 






  <div class="espacio-de-diesiseis">         
  </div>
  <div class="espacio-de-diesiseis">         
  </div>


<div>

  <h6 style="color:rgb(214, 214, 214); font-family: 'Montserrat', sans-serif;" >  <  CAMBIAR FOTO   >
    </h6>
    
    </div> 



     <div class="espacio-de-diesiseis">         
      </div>
      <div class="espacio-de-diesiseis">         
        </div>


     <div class="centra">
               <ion-button class="btn-registrarme"  (click)="guardarfotoiraocupaciones()" type="submit" color="primary" >
                <strong style="font-family: 'Montserrat', sans-serif;" class="white">
                CONTINUAR</strong>
                </ion-button>
     </div>




</form>  



                   

      

 


   







</ion-card-content>       
</ion-card-content>  
 

  



  
  </section>
  


  <div class="espacio-de-diesiseis">         
  </div>

 

      
<!-- todo -->
            <div><ion-icon (click)="backloginpage()" name="arrow-back"></ion-icon></div> 





</ion-content>




