.CyrusLogoWhite{
    width: 110px;
    display:block;
    margin:auto;
    //height: 65px;
   }


   .botoncentrado {
    text-align: center;
  }

  .botonredondo{
    border-radius: 50%;
    overflow:hidden;
  }