<ion-header translucent>
    <ion-toolbar color="tertiary"> 
      <img src="/assets/cyrusLogo.svg"
      
      no-margin margin-vertical text-center class="CyrusLogoWhite">   
      <br>
    </ion-toolbar>

    </ion-header>
  
  <ion-content >
    <br>
      <ion-text>
          <h2 no-margin margin-vertical text-center>Edit Profile</h2>
        </ion-text>
      
    <ion-card color="light" mode="ios">

      <div *ngIf="hideMe">
          <img  name="arrow-forward"  src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" no-margin margin-vertical text-center class="circle-photo-user"  alt="" srcset="">
      </div>

      <div class="one-image" *ngFor="let img of imageResponse">
      <!-- <img  src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" no-margin margin-vertical text-center class="circle-photo-user"  alt="" srcset=""> -->

      <img src="data:image/gif;base64,{{img}}" no-margin margin-vertical text-center class="circle-photo-user" alt="" srcset="">
      </div>

        <ion-row style="text-align: center ;  justify-content: center; align-items: center; text-align: center;">

  <ion-grid>
    <!-- <ion-row>
      <ion-col text-center>
        <h3>Image Picker</h3>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col class="col" text-center>
        <ion-button (click)="getImages()">Cambiar</ion-button>
      </ion-col>
      <!-- <ion-col class="col" text-center>
          <ion-button (click)="saveImages()">Aceptar</ion-button>
      </ion-col> -->
    </ion-row>

    <ion-row>

      <!-- <ion-col>
        <div class="images">
          <div class="one-image" *ngFor="let img of imageResponse">
            <img src="{{img}}" alt="" srcset="">
          </div>
        </div>
      </ion-col> -->  

    </ion-row>

  </ion-grid>





</ion-row>


    </ion-card>
    
     <ion-card color="light" mode="ios">
        <ion-input clearInput type="text" class="input"
        padding-horizontal clear-input="true" maxlength="20" placeholder="Name"></ion-input>
     </ion-card>
  
     <ion-card color="light" mode="ios">
        <ion-input clearInput type="text" class="input"
        padding-horizontal clear-input="true" maxlength="20" placeholder="Surname"></ion-input>
     </ion-card>
  
     <ion-card color="light" mode="ios">
        <ion-input clearInput type="text" class="input"
        padding-horizontal clear-input="true" maxlength="20" placeholder="Surname"></ion-input>
     </ion-card>
     
     <ion-card color="light" mode="ios">
        <ion-input clearInput type="text" class="input"
        padding-horizontal clear-input="true" maxlength="200" placeholder="Address"></ion-input>
     </ion-card>
       
     <ion-card color="light" mode="ios">
        <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select placeholder="Select One">
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
            </ion-select>
          </ion-item>
     </ion-card>
     
     <ion-card color="light" mode="ios">
        <ion-input clearInput type="number" class="input"
        padding-horizontal clear-input="true" maxlength="2" placeholder="Age"></ion-input>
     </ion-card>
     <ion-card color="light" mode="ios">
        <ion-input clearInput type="number" class="input"
        padding-horizontal clear-input="true" maxlength="2" placeholder="Phone"></ion-input>
     </ion-card>
  
     <ion-card color="light" mode="ios">
        <ion-input clearInput type="email" type="email" padding-horizontal class="input" 
         clear-input="true" placeholder="Email"></ion-input>
     </ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
              &nbsp;
          </ion-col>
          <ion-col>
              &nbsp;
          </ion-col>
          <ion-button shape="round" color="primary">save</ion-button>
          <ion-col>
              &nbsp;
          </ion-col>
          <ion-col>
              &nbsp;
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  