

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');

:root {

  --ion-font-family: 'Indie Flower', cursive;

  /** primary **/
}



.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.img-logo {
    height: 150px;
    width: 150px;
  }


   .hr {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
  }


  .hr-de-80 {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 67%;
    height: -10%;
    text-size-adjust: 10px;
    position: relative;

    left: 16%;
    top: 0;
  }



  .grid {

    width: 100%;
    height: 50%;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
  
  }

  .espacio-hor-10{
    align-items: center; 
    color: rgb(18, 18, 20);
    position: absolute;
    width: 400%;
    height: 400%;
    left: 0%;
    top: 0;
  


  }

  .espacio-hor-80{
    align-items: center; 
    color: rgb(18, 18, 20);
    position: absolute;
    width: 400%;
    height: 400%;
    left: 0%;
    top: -2%;


  }


  .espacio-hor-entrenombres-1{
    align-items: center; 
    color: rgb(18, 18, 20);
    position: absolute;
    width: 400%;
    height: 600%;
    left: 0%;
    top: -2%;


  }

  .espacio-hor-entrenombres-2{
    align-items: center; 
    color: rgb(18, 18, 20);
    position: absolute;
    width: 400%;
    height: 400%;
    left: 0%;
    top: -2%;


  }


  .espacio-hor-10-otro{
    align-items: center; 
    color: rgb(18, 18, 20);
    position: absolute;
    width: 400%;
    height: 400%;
    left: 0%;
    top: 0;
  }

.parrafo-del-texto-evento
{
  text-align: left; position: absolute;     left: 0%;
  top: -6%;
  width: 100%;
  height: 1%;
  left: 3%;
}

.divdetoggle{
  align-items: center; 
  color: rgb(18, 18, 20);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0;
}


.toggle{
  align-items: center; 
  color: rgb(18, 18, 20);
  position: absolute;
  left: 50%;
  top: -3%;
  border-radius: 6px !important;
  font-size: 1rem !important; 
  .track
  {
        border-radius: 6px !important;
        width: 0px;
  }
  .handle
  {
        width: 32px !important;
        height: 32px !important;
        top: 0
        px !important;
  }
  .handle:before {
     font-family: "Ionicons";
     content: "\f13f" !important;
     top: 0px !important;
     left: 0px !important;
  }
  .toggle input:checked + .track .handle {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}




.centra {
  justify-content: center;
  align-items: center;
    text-align: center;
    height: 15px !important;

}

.centra99 {
  justify-content: center;
  align-items: center;
    text-align: center;
    height: 10px !important;

}


.centra2 {
  justify-content: center;
  align-items: center;
    text-align: center;
    height: 20px !important;

}

.centra656 {
  justify-content: center;
  align-items: center;
    text-align: center;
    height: 30px !important;

}

.centradown {
  justify-content: center;
  align-items: center;
    text-align: center;
    height: 90px !important;

}


.centra7 {
  justify-content: center;
  align-items: center;
    text-align: center;
    height: 25% !important;
    width: 60% !important;


}


.centra3 {
  justify-content: center;
  align-items: center;
    text-align: center;
    height: 20% !important;
    width: 60% !important;
    position: absolute;
    top: 12%;
    left: 20%;

}

.centra4 {
  justify-content: center;
  align-items: center;
    text-align: center;
    height: 10px !important;

}

  .boton1{
    height: 38px;
    width: 60%;
    justify-content: center;
    text-align: center;
    letter-spacing: 6px;
    //necesario para el radio redondo
    border-radius: 50px;
    overflow:hidden;
    color: #656565;  

  }

  
  .boton2{
    height: 38px;
    width: 60%;
    justify-content: center;
    text-align: center;
    letter-spacing: 6px;
    //necesario para el radio redondo
    border-radius: 50px;
    overflow:hidden;
    //fin
  }
