

<ion-content no-padding color="diseno1" >


    <ion-row class="row">
        <img src="assets/cyrusLogo.svg" class="img-logo">
    </ion-row>

  <div style="height: 3px;" class="hr">

  </div>


<section >

<div class="centra99">
  <h3 style="font-family: 'Montserrat', sans-serif; color: white;" center><strong style="font-weight: 800;">
    {{this.texto1}}
    <!-- Gracias a ti -->
  <!-- Aqui vala variable texto1 -->
  </strong></h3> 
</div>


<div class="centra">
  <h4 style="font-weight: 500; font-family: 'Montserrat', sans-serif; color: white;" center> 
    {{this.texto2}}
    <!-- tu amigo -->
  <!-- aqui va la variable texto2 -->
  </h4> 
</div>

<div class="centra">
  <h2 style="font-weight: 800; font-family: 'Montserrat', sans-serif; color: white;" center>
    {{this.texto3}}    {{this.apellido}}
     <!-- Roberto Carlos -->
     <!-- aqui va la variable texto3 -->
    </h2> 
</div>

<div class="centra2">
  <h4 style="font-weight: 500; font-family: 'Montserrat', sans-serif; color: white;" center>
    {{this.texto4}}
    <!-- esta participando por -->
    <!-- aqui va la variable texto4 -->
  </h4> 
</div>

<div class="centra656">
  <h2 style="font-weight: 700; font-family: 'Montserrat', sans-serif; color: white;" center> <strong style="font-weight: 800">
    {{this.textomoneda}}
    <!-- $ -->

  </strong>
    {{this.texto5}}
    <!-- 800 -->
    <!-- aqui va la variable texto 5 -->
  </h2> 
</div>




<div style="height: 3px;" class="hr">

</div>

<div class="centra">
  <h2 style="font-weight: 700; font-family: 'Montserrat', sans-serif; color: white;" center> Descubre</h2> 
</div>

<div class="centra2">
  <h2 style="font-weight: 600; font-family: 'Montserrat', sans-serif; color: white;" center> como participar</h2> 
</div>



<ion-grid  class="grid">

<ion-row class="centra2">

  <ion-button class="boton1" href="https://likeiu.com/concurso-lider-likeiu" type="submit" color="primary" >
    <strong style=" font-weight: 400;  font-family: 'Montserrat', sans-serif;" >
    AQUÍ
  </strong>

    </ion-button>


</ion-row>


<ion-row class="centra7">

<div class="centra3">
      <p style="color: white;   justify-content: center;
      align-items: center;
        text-align: center;">si ya sabes como participar entonces invita a tus amigos haciendo clic</p>
</div>

</ion-row>

<ion-row class="centra">

    <ion-icon color="light" name="arrow-down"></ion-icon>

</ion-row>

<ion-row class="centra2">
  <ion-button class="boton1" (click)="invitaramigos()" type="submit" color="primary" >
   <strong style="font-weight: 400; font-family: 'Montserrat', sans-serif;" >
   AQUÍ</strong>
   </ion-button>

  </ion-row>

  <ion-row class="centradown">

    <ion-button class="boton2" (click)="iralhome()" type="submit" color="diseno2" >
      <strong style=" letter-spacing: 0px; font-weight: 400; font-family: 'Montserrat', sans-serif;" >
      IR AL HOME
    </strong>
  
      </ion-button>
  
  
  </ion-row>


  </ion-grid>




  
</section>


  






</ion-content>



