
<ion-content no-padding color="diseno1">

    <ion-row class="row">
        <img src="assets/cyrusLogo.svg" class="img-logo">
    </ion-row>
    <div class="hr"></div>
  <div class="main">
      <ion-card-content>
       <form [formGroup]="user" (ngSubmit)="login()">
        <ion-row>
          <ion-col>
            <ion-input clearInput type="email" formControlName="email" type="email" padding-horizontal class="input" 
              clear-input="true" placeholder="USUARIO"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput formControlName="password" type="password" class="input"
              padding-horizontal clear-input="true" placeholder="CONTRASEÑA"></ion-input>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col>
              <div class="centra">
            <ion-button  type="submit" [disabled]="!user.valid" style="border-radius: 32px; overflow:hidden;" color="primary" class="btn-enviar">
              <strong class="white">
                ENVIAR</strong>
              </ion-button>
              </div>
          </ion-col>
        </ion-row>
      </form>
        <ion-row>
          <ion-col>
      <div class="lineaverticalcentrada">____________<ion-text color="diseño1">__</ion-text> Ó <ion-text color="diseño1">__</ion-text>____________
      </div>
      <br>
      <ion-text text-center color="secondary" class="block"><p style="color: rgb(255, 255, 255);" >SI AÚN NO TIENES CUENTA,
              <span class="bold" style="color: rgb(255, 255, 255);" routerLink="/signup">REGISTRATE</span></p>
      </ion-text>
        <ion-col>
          <div class="centra">
              <ion-button  class="btn-registrarme" type="submit" routerLink="/signup" color="primary"><strong class="white">REGISTRARME</strong></ion-button>
          </div>
        </ion-col>
            </ion-col>
        </ion-row>
        <ion-row>
        </ion-row>
        <div class="centra">
        <ion-button  type="submit" color="danger" class="btn-google" (click)="LoginGoogle()">
        <ion-icon name="logo-googleplus" style ="color:#ffffff"></ion-icon>
        </ion-button> 
      </div>
      </ion-card-content>
  </div>
</ion-content>



