





.main {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 767px) {
  ion-card {
    width: 600px;
    margin: auto;
    
  }
}
ion-card {
  --background: #000000;
  box-shadow: none;
  -webkit-box-shadow: none;
  overflow: scroll;
}


.hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}


.input {
  background-color: #333333;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 9px;
  font-size: 0.9em !important;
  color: #fff;
  letter-spacing: 2px;

    --placeholder-color: rgb(220,220,220,0.2);



}



ion-input{
  --placeholder-color: rgb(255, 255, 255);
  --placeholder-opacity: 1;
}








.white {
  color: white;
}

.small {
  font-size: 13px;
  a {
    text-decoration: unset !important;
  }
}
.button-color {
 background-color: var(--ion-color-mytheme);
}
.logo {
  width: 1.25em !important;
}
.grid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.centra {
  justify-content: center;
    text-align: center;
}



.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
 .img-logo {
   height: 150px;
   width: 150px;
 }
.fire-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  
}
.bold {
  font-weight: bold;
}
.block {
  display: block;
  color: #fff;
}
.transition {
  background: linear-gradient(to right, #333333 14%, #333333 96%);
  border: 1px solid #fff;
  border-radius: 5px;
  color:#fff;
}
.btn-color {
  color: #ffa000;
}
.error {
  color: red;
  text-align: center;
  display: block;
  font-weight: bold;
}
.btn-facebook{
  color: #E1F5FE !important;
  border: 1px solid #E1F5FE;
  border-radius: 5px;
  
}

.btn-google{
  height: 37px;
  width: 164px;
  justify-content: center;
  text-align: center;

  //necesario para el radio redondo
  border-radius: 32px;
  overflow:hidden;
  //fin
}

.btn-enviar{
  height: 35px;
  width: 145px;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  //necesario para el radio redondo
  border-radius: 32px;
  overflow:hidden;
  //fin
}

.btn-registrarme{
  height: 38px;
  width: 160px;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  //necesario para el radio redondo
  border-radius: 32px;
  overflow:hidden;
  //fin
}




.lineaverticalcentrada {
  color:rgb(255, 255, 255);
  text-align: center;
}


.verticalLine {
  width:1%;
  height:75%;
  background:green;
  margin: auto;
}

// .btn-Log{
//   position:absolute;
//   width: 150px;
//   left: 90px;
// }
// @media screen and (max-width: 414px){
//     btn-Log{
//       position:relative;
//       width: 170px;
//       left: 90px;
//     }
// }




