<ion-tabs>
  <ion-tab-bar slot="bottom" color="warning">
    <ion-tab-button tab="home">Eventos
      <ion-icon name="search"></ion-icon>
      <!-- <ion-label>home</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="tab-user">Mi Cuenta
      <ion-icon name="person"></ion-icon>
      <!-- <ion-label>user</ion-label> -->
    </ion-tab-button>
    <!-- <ion-tab-button tab="tab-search" color="danger">Disabled
        <ion-icon name="search"></ion-icon>

    </ion-tab-button> -->
    <ion-tab-button tab="tab-calendar">Calendario
      <ion-badge style="position: absolute">4</ion-badge>
      <ion-icon name="calendar"></ion-icon>
        <!-- <ion-label>promotions</ion-label> -->
    </ion-tab-button>

    <ion-tab-button>
      <!-- <ion-icon name="menu" color="danger" slot="start"></ion-icon> -->
      
      <!-- <ion-label>menu</ion-label> -->
      <ion-menu-button></ion-menu-button>Más
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
