ion-slide {
    height: calc(100vh - 140px);
   
  }

  .heardesSegment{
    background: #DB2C2C;
  }
//   .ion-color-warning {
//     --ion-color-base: #ffffff !important;
//     --ion-color-base-rgb: var(--ion-color-warning-rgb, 255, 206, 0) !important;
//     --ion-color-contrast: var(--ion-color-warning-contrast, #fff) !important;
//     --ion-color-contrast-rgb: var(--ion-color-warning-contrast-rgb, 255, 255, 255) !important;
//     --ion-color-shade: var(--ion-color-warning-shade, #ffffff) !important;
//     --ion-color-tint: var(--ion-color-warning-tint, #ffffff) !important;
// }

#map_canvas {
  width: 90%;
  height: 80%;
  border: 1px solid red;
}
 
 
#address {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
 
#map {
  width: 100%;
  height: 56vh;
}
 
.map-wrapper {
  position: relative;
 
  #map_center {
    position: absolute;
    z-index: 99;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    margin-left: -21px;
    margin-top: -41px;
  }
}
.CyrusLogoWhite{
  width: 110px;
  display:block;
  margin:auto;
  //height: 65px;
 }
 
 ion-list{
  background: #333333;
  
 }