
.btn-enviar{
    font-size: 10px;   
    height: 35px;
    width: 290px;
    justify-content: center;
    text-align: center;
    letter-spacing: 2px;
    //necesario para el radio redondo
    border-radius: 32px;
    overflow:hidden;
    //fin
  }
