<ion-header>
  <ion-toolbar>
    <ion-title>Galeria de Imagenes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <span class="slider-nav arrow-prev"
          (click)="slidePrev(sliderOne,slideWithNav)">
          <div class="prev-icon-custom custon-nav"
            [class.disabled]="sliderOne.isBeginningSlide"></div>
        </span>
      </ion-col>
      <ion-col size="12">
 
        <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
          (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
          <ion-slide *ngFor="let s of sliderOne.slidesItems">
            <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
          </ion-slide>
        </ion-slides>
 
      </ion-col>
      <ion-col size="1">
        <span class="slider-nav arrow-next"
          (click)="slideNext(sliderOne,slideWithNav)">
          <div class="next-icon-custom custon-nav"
            [class.disabled]="sliderOne.isEndSlide"></div>
        </span>
      </ion-col>



      
    <ion-button  type="submit" style="border-radius: 32px; overflow:hidden;"
    color="primary" class="btn-enviar">
      <strong class="white">
        Agregar Imagenes</strong></ion-button>



      
    </ion-row>


  </ion-grid>
</ion-content>
