
<ion-content no-padding color="tertiary">
  <div><ion-icon (click)="backloginpage()" name="arrow-back"></ion-icon></div> 

<div class="main">
  <ion-card no-margin>
    <ion-card-content>
      <ion-row class="row">
        <div class="fire-logo">
          <img src="assets/cyrusLogo.svg" class="img-logo">
          <ion-text>
            <h2 no-margin margin-vertical text-center>Forgot your Password ?</h2>
          </ion-text>
        </div>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>Enter your email below and we'll send your instructions to recover your password</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input clearInput type="email" placeholder="Email" [(ngModel)]="email" class="input" padding-horizontal
            clear-input="true"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="recover()" color="undefined" class="transition">
            <strong class="white">
              Recover Password</strong></ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text class="error" text-center>{{error}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text text-center class="block">Already have an account ?
            <span class="bold" routerLink="/login">Login here</span></ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
