.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 767px) {
  ion-card {
    width: 600px;
    margin: auto;
  }
}
ion-card {
  --background: #000000;
  box-shadow: none;
  -webkit-box-shadow: none;
  overflow: scroll;
}
.input {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(210, 210, 210);
  border-radius: 9px;
  font-size: 0.9em !important;
}
.white {
  color: white;
}

.small {
  font-size: 13px;
  a {
    text-decoration: unset !important;
  }
}
.button-color {
  background-color: var(--ion-color-mytheme);
}
.logo {
  width: 1.25em !important;
}
.grid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
 .img-logo {
   height: 150px;
   width: 150px;
 }
.bold {
  font-weight: bold;
}
.block {
  display: block;
  color: #fff;
}
.fire-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.transition {
  background: linear-gradient(to right, #333333 14%, #333333 96%);
  border: 1px solid #fff;
  border-radius: 12px;
}
.btn-color {
  color: #ffa000;
}
.error {
  color: red;
  text-align: center;
  display: block;
  font-weight: bold;
}
ion-text{
  color: #fff;
}

