<ion-header>


  
    <ion-toolbar color="tertiary"> 

        <img src="/assets/cyrusLogo.svg"
        no-margin margin-vertical text-center class="CyrusLogoWhite"><div><ion-icon (click)="backdashboard()" name="arrow-back"></ion-icon></div>


        <!-- <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/home"></ion-back-button>

        </ion-buttons> -->


</ion-toolbar>


</ion-header>


<ion-content>


<ion-grid>
  <ion-row>
    <ion-col size="1">
      <span class="slider-nav arrow-prev"
        (click)="slidePrev(sliderOne,slideWithNav)">
        <div class="prev-icon-custom custon-nav"
          [class.disabled]="sliderOne.isBeginningSlide"></div>
      </span>
    </ion-col>
    <ion-col size="12">

      <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
        (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
        <ion-slide >
            <!-- *ngFor="let s of sliderOne.slidesItems" deleted ngfor from ion-slide because pomotions only need 1 image -->
          <!-- <img src="data:image/jpeg;base64,{{this.clickedpromotion.promoimg}}" /> -->
          <img src="https://likeiu.com/api/img/events/dashboardimg/{{this.clickedpromotion.photo}}">
        </ion-slide>
      </ion-slides>

    </ion-col>
    <ion-col size="1">
      <span class="slider-nav arrow-next"
        (click)="slideNext(sliderOne,slideWithNav)">
        <div class="next-icon-custom custon-nav"
          [class.disabled]="sliderOne.isEndSlide"></div>
      </span>
    </ion-col>
  </ion-row>
</ion-grid>



<ion-grid>
    <ion-row>
        <ion-col  size="4">
            <p style="font-size: 17px">{{this.clickedpromotion.name}}</p>
        </ion-col>
      
   
<!-- fab placed in the center of the content with a list on each side -->
      <!-- <ion-fab class="btn-sharing"> -->

        <app-animated-like  (click)="FavoritePromo()"> </app-animated-like>
        <!-- <app-animated-like > </app-animated-like> -->


        <ion-fab horizontal="end" vertical="bottom" class="sharingPromo">
          <ion-fab-button color="primary">
            <ion-icon name="share"></ion-icon>
        </ion-fab-button>

          <ion-fab-list side="start">
            <ion-fab-button (click)="shareWhatsApp()">
              <ion-icon style="color:#4DB6AC" name="logo-whatsapp"
              ></ion-icon></ion-fab-button>

            <ion-fab-button (click)="shareFacebook()">
              <ion-icon color="success" name="logo-facebook"
            ></ion-icon></ion-fab-button>

            <ion-fab-button (click)="shareInstagram()">
              <ion-icon style="color:#EC407A" name="logo-instagram"
              ></ion-icon></ion-fab-button>
            
          </ion-fab-list>
        </ion-fab>

      <ion-col>
          <!-- <app-animated-like></app-animated-like>  -->
      </ion-col>
      </ion-row>
</ion-grid>
<ion-card color="light" mode="ios">
<ion-grid>
     <ion-row>
        <ion-col>
           <p>{{this.clickedpromotion.description}}</p>
        </ion-col>
   </ion-row>
</ion-grid>

</ion-card>
<ion-card color="light" mode="ios"> 
<ion-grid>
     <ion-row>
         <ion-col>
            <p>Puntos a canjear</p>
        </ion-col>

        <ion-col>
           <div class="flex-container1">
                <ion-img src="assets/images/pointGold.png" id="img-pointBlue"></ion-img>
             <h4 style="color: #ffc919">&nbsp;{{total_gold_points}}</h4>
            </div>
        </ion-col>

        <ion-col>
           <div class="flex-container">
             <ion-img src="assets/images/pointsBlue.png" id="img-pointBlue"></ion-img>
            <h4 style="color: #141466">&nbsp;{{total_basic_points}}</h4>
           </div>
        </ion-col>

     </ion-row>
 </ion-grid>
</ion-card>

<ion-card color="light" mode="ios"> 
<ion-grid>
   <ion-row>
  <ion-col class="botoncentrado" >

      <ion-button ><ion-icon color="tertiary" name="calendar"
        ></ion-icon>Agregar Evento</ion-button>

      </ion-col>

  </ion-row>
</ion-grid>
</ion-card>

<!-- <ion-card color="light" mode="ios">
<ion-grid>
    <ion-row>
      <ion-col>
        <p>Rating:</p>
      </ion-col>
     
          <ionic4-star-rating #rating
          activeIcon = "ios-star"
          defaultIcon = "ios-star-outline"
          activeColor = "#f53d3d" 
          defaultColor = "#621818"
          readonly="false"
          rating="3"
          class="ratingPromotion"
          fontSize = "32px"
          (ratingChanged)="gotoreviewpage($event)">
      </ionic4-star-rating>
     
    </ion-row>
  </ion-grid>
</ion-card> -->

<!-- Modal Activo para Raiting -->

<!-- <ion-card color="light" mode="ios">
  <ion-grid>
      <ion-row>
        <ion-col>
          <p>Review2:</p>
        </ion-col>
        <ion-col>
          <ion-button block (click)="showPrompt()"></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->


<ion-grid>
     <ion-row>
      <ion-col class="botoncentrado">
      <ion-button  color="primary" (click)="onGoToNextPage($event, promotion)"><ion-icon name="qr-scanner"></ion-icon> QR Code Event</ion-button>
      </ion-col>
    </ion-row>
</ion-grid>
   <br>
<!-- ASOCIATED RESTAURANT IMG WITH PROMO -->



<h4 no-margin margin-vertical text-center>Informacion sobre la empresa:</h4>
<ion-grid>
  <ion-row>
    <ion-col>
        &nbsp;
    </ion-col>
    <ion-col>
        &nbsp;
    </ion-col>
    <ion-icon class="btn-icon" name="add-circle-outline" color="primary" (click)="onGoToRestAsocPage()" ></ion-icon>
    <ion-col>
        &nbsp;
    </ion-col>
    <ion-col>
        &nbsp;
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
