.border-img{

    width: 200px;
  }

.review-text-justify{
  text-align: justify
}


ion-col app-animated-like { 
  position: absolute; 
  top: 15px; 
  right: 30px;
 
   }

.btn-sharing{
  position: absolute; 
  top:12%; 
  left:100%;
  font-size: 2em;
 }

 #img-pointBlue{
  // position:absolute;
   width: 20px;
   height: 20;
  // left: 300%;
 }

 .flex-container {
  display: flex;
  position: absolute;
  left: 30px;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
 }

 .flex-container1{
  display: flex;
  position: absolute;
  left: 65px;

 }

.amount_points{
    position:absolute;
    left: 274%;
    
   
}
.btn-redeem{
  position:absolute;
  left: 615%;
 
}

.btn-icon{
  font-size: 30px;
}

@media only screen and (max-width: 320px) {
  .amount_points {
    position:absolute;
    //left: 172%;
    
  }
}

@media only screen and (max-width: 411px) {
  .flex-container {
    display: flex;
    position:relative;
   // left:70%;
    
  }
}
.CyrusLogoWhite{
  width: 110px;
  display:block;
  margin:auto;
  position:relative;
  //height: 65px;
  right: 20px;
 }

.sharingPromo{
  position: absolute;
  top:46%;
  //left: 120px;
}

.moverRanting{
  position: relative;
  left: 25%;
  
}

