<ion-header>
    
    <ion-toolbar color="danger"> 
      <img src="/assets/cyrusLogo.svg"
       class="CyrusLogoWhite">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  
  </ion-header>

<ion-content color="tertiary">
  
  <ion-card color="light" mode="ios">
      <img src="https://cyrustheapp.com/public/images/promotions/{{this.rating.rating_img}}">
    <ion-card-header>
      <ion-card-title>{{this.rating.rating_name}}:</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <ion-card-content>
        <p>{{this.rating.rating_description}}</p>
    </ion-card-content>
  </ion-card>



<ion-card color="light" mode="ios">
<!-- <h4>{{this.rating.promotionname}}</h4> -->
<div>
    <p text-center>Please back to change your stars rating</p>
    <ionic4-star-rating #rating2
    activeIcon = "ios-star"
    defaultIcon = "ios-star-outline"
    activeColor = "#f53d3d" 
    defaultColor = "#621818"
    readonly="true"
    rating="{{this.rating.rating_starts}}"
    fontSize = "32px"
    class="moverRanting"
    (ratingChanged)="logRatingChange($event)" > 
    </ionic4-star-rating>




<p text-center>Please write your opinion about this Promotion.</p>
</div>

   <ion-card color="tertiary" mode="ios">
      <ion-input style="color: #ffffff;" type="text" placeholder="Message" name="text_review" [(ngModel)]="text_review"></ion-input>
    </ion-card>
   
     <div padding>
       <ion-button expand="block" (click)="reviewpromo()">Review</ion-button>
     </div>
</ion-card>

</ion-content>
