.drops{
    border-radius: 3px !important;
    padding-right: 30px;
    font-size: 0.9em;
    border: 1px solid #C6C6C6 !important;
    --background: rgb(219,219,219) !important;
    /* height: 10%; */
    /* width: 41%; */
    max-width: 50vw; // this is applying perfectly
    max-height: 10vh;
    --placeholder-color: rgba(0, 0, 0, 0.3);

}

.imputs{
    border-radius: 3px !important;
    padding-right: 30px;
    font-size: 0.9em;
    border: 1px solid #C6C6C6 !important;
    --background: rgb(219,219,219) !important;
    /* height: 10%; */
    /* width: 41%; */
    max-width: 50vw; // this is applying perfectly
    max-height: 20vh;
    --placeholder-color: rgba(0, 0, 0, 0.3);

}

