

<ion-content>


<h3><ion-text><p>Medidas, Tallas y Dimensiones</p></ion-text></h3>


     <div style="text-align: center; width: 100%;" *ngIf="medicionesinputs!=null" [formGroup]="formGroup">


      <table  style="text-align: center;    display: grid;
      grid-template-columns: repeat(auto-fill, 40%);
      grid-gap: 1.5rem; width: 100%;" formArrayName="values">
      
      
        <thead style="text-align: center; width: 100%;">
          <tr style="text-align: center; width: 100%;">
            <!-- <th style="text-align: center; width: 50%;">Medidas:</th>
            <th style="text-align: center; width: 35%; ">Valor:</th>
            <th style="text-align: center; width: 15%; ">Unidad:</th> -->
          </tr>
        </thead>
      
        <br>  

        <tbody style="text-align: center; width: 100%;" *ngFor="let i of medicionesinputs; index as y" [formArrayName]="y">
          <ng-container style="text-align: center; width: 100%;" *ngFor="let data of ranges; index as x">
            <tr style="text-align: center; width: 100%;">
              <td style="text-align: left; width: 50%;">{{i.name}}</td>
              <!-- <td style="text-align: center; width: 50%; "> -->
                <!-- <input style="text-align: center; width: 35%; " class="imputs" type="number" [formControlName]="x" placeholder="Valor" name='weight'> -->
              <!-- </td> -->
              <!-- <td style="text-align: center; width: 15%;">{{i.medida}}</td>       -->
            </tr>

            <tr style="text-align: left; width: 100%;">
              <td style="text-align: left; width: 100%; ">
                <input style="text-align: left; width: 70%; height:35px " class="imputs" type="number" [formControlName]="x" placeholder="Valor" name='weight'>
                {{i.medida}}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      </div>



      <div  *ngIf="medicionesdrops!=null" [formGroup]="formGroups">
        <div formArrayName="valuess">


      <!-- <form > -->
        <ion-grid  class="grid">
   <!-- se elimino por lineas y columnas para hacer una tabla con inputs. multidinamicos unidimensionales segun arrays -->
                                           <!-- <ion-row *ngFor="let medicionesinput of medicionesinputs" >
                                                    <ion-col size="6">
                                                    {{medicionesinput.name}}
                                                    </ion-col>
                                                    <ion-col size="2.5" >
                                                          <ion-input   
                                                           class="imputs" type="number" placeholder="Indique" ></ion-input> 
                                                    </ion-col>
                                                    <ion-col size="2">
                                                        <p>{{medicionesinput.medida}}</p> 
                                                    </ion-col>
                                            </ion-row> -->
                                            <ion-row style="text-align: left;" *ngFor="let medicionesdrop of medicionesdrops; index as z" [formArrayName]="z" >
                                              <ng-container  *ngFor="let data of panges; index as p">
                                              <ion-col style="text-align: left; width: 50%;" size="6">
                                               <p style="text-align: left;">{{medicionesdrop.name}}</p> 
                                                </ion-col>
                                        
                                                <ion-col  size="2.5" >
                                                    <ion-select [formControlName]="p" style="height: 70%;" class="drops" >
                                                        <ion-select-option  style="width: 60%;" *ngFor="let medicionesdro of medicionesdrop.locall" >{{medicionesdro.valor}}</ion-select-option>
                                                      </ion-select>
                                                </ion-col>
    
                                                <ion-col size="2">
                                                </ion-col>
                                              </ng-container>
                                        </ion-row>
            </ion-grid>
            
            
          </div>
        </div>      



      <ion-row style="text-align: center ;  justify-content: center; align-items: center; text-align: center;">
      <ion-button class="btn-registrarme" (click)="asd()" type="submit" color="primary" >
        <strong style="font-family: 'Montserrat', sans-serif;" class="white">
        CONTINUAR</strong>
        </ion-button>
      </ion-row>    



<!-- previsualizador del formgroup       -->
      <!-- <pre>
        {{ formGroups.value | json }}
      </pre> -->


</ion-content>
