// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3D5AD8;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #EF5350;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #EF5350;
  --ion-color-secondary-tint: #EF5350;

  /** tertiary **/
  --ion-color-tertiary: #000000;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #1a1a1a;
  --ion-color-tertiary-tint: rgb(17, 16, 16);

  /** success **/
  --ion-color-success: #42A5F5;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #141466;
  --ion-color-success-tint: #141466;

  /** warning **/
  --ion-color-warning: #212121;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #42A5F5;
  --ion-color-warning-tint: #42A5F5;

  /** danger **/
  --ion-color-danger: #DB0E0E;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #E6E6E6;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** button my points color **/
  --ion-color-myPoints: #141466;
  
//añadido para tener un custom color
  --ion-color-gold: #ffd700;
  --ion-color-gold-rgb: 255, 215, 0;
  --ion-color-gold-contrast: #000000;
  --ion-color-gold-contrast-rgb: 0, 0, 0;
  --ion-color-gold-shade: #e0bd00;
  --ion-color-gold-tint: #ffdb1a;
//termina  

//añadido 1/1 de otro custom color
--ion-color-medium: #4D4D4D;
--ion-color-medium-rgb: 152,154,162;
--ion-color-medium-contrast: #ffffff;
--ion-color-medium-contrast-rgb: 255,255,255;
--ion-color-medium-shade: #000000;
--ion-color-medium-tint: #000000;
//termina


//añadido para tener OTROOO custom color
--ion-color-diseno1: #333333;
--ion-color-diseno1-rgb: 255, 215, 0;
--ion-color-diseno1-contrast: #000000;
--ion-color-diseno1-contrast-rgb: 0, 0, 0;
--ion-color-diseno1-shade: #333333;
--ion-color-diseno1-tint: #333333;
//termina  

//COLOR CUSTOM 1/66
--ion-color-diseno2: #656565;
--ion-color-diseno2-rgb: 255, 215, 0;
--ion-color-diseno2-contrast: #ffffff;
--ion-color-diseno2-contrast-rgb: 0, 0, 0;
--ion-color-diseno2-shade: #333333;
--ion-color-diseno2-tint: #333333;
//termina  




}

//añadido 2/2 para tener un custom color
.ion-color-gold {
  --ion-color-base: var(--ion-color-gold) !important;
  --ion-color-base-rgb: var(--ion-color-gold-rgb) !important;
  --ion-color-contrast: var(--ion-color-gold-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-gold-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-gold-shade) !important;
  --ion-color-tint: var(--ion-color-gold-tint) !important;
//termina  
}


.ion-color-diseno1 {
  --ion-color-base: var(--ion-color-diseno1) !important;
  --ion-color-base-rgb: var(--ion-color-diseno1-rgb) !important;
  --ion-color-contrast: var(--ion-color-diseno1-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-diseno1-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-diseno1-shade) !important;
  --ion-color-tint: var(--ion-color-diseno1-tint) !important;
//termina  
}



//COLOR CUSTOM 2/66
.ion-color-diseno2 {
  --ion-color-base: var(--ion-color-diseno2) !important;
  --ion-color-base-rgb: var(--ion-color-diseno2-rgb) !important;
  --ion-color-contrast: var(--ion-color-diseno2-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-diseno2-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-diseno2-shade) !important;
  --ion-color-tint: var(--ion-color-diseno2-tint) !important;
//termina  
}