<div *ngIf="showSplash" class="splash">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
  </div>
  <ion-nav [root]="LoginPage" #content swipeBackEnabled="false"></ion-nav>





<ion-app>




    <ion-menu side="end" menuId="first" contentId="content1">
        <ion-header >
          <ion-toolbar color="tertiary">
            <ion-title text-center>Menu</ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-content>


    
           <div class="espacio-de-veinte">
           </div>


            <div class="espacio-de-veinte">
            </div>

<div class="centra">
<p style="text-align: center; font-family: 'Ubuntu Mono', monospace;">  <ion-icon name="add"></ion-icon>
  MÁS OPCIONES</p>
</div>

            <div class="espacio-de-diesiocho">
            </div>

            <div class="hr">
            </div>

            <div class="espacio-de-veinte">
            </div>

            <div class="espacio-de-veinte">
             </div>



             <div *ngFor="let p of pages">


 
                <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.parent-active]="p.open" detail="false">
                    <ion-icon name="person" color="primary" slot="start"></ion-icon>
                  <ion-label style=" font-family: 'Ubuntu Mono', monospace;">MI PERFIL</ion-label>
                  <ion-icon slot="end" name="arrow-forward" *ngIf="!p.open"></ion-icon>
                  <ion-icon slot="end" name="arrow-down" *ngIf="p.open"></ion-icon>
                </ion-item>
          
                <!-- Children List for clicked Item -->
                <ion-list *ngIf="p.open">
                  <ion-menu-toggle>
                    
                    <ion-item  class="sub-item" routerLink="/tabs/tab-user" routerDirection="root"
                      routerLinkActive="active"><ion-icon name="espacio-vacio" slot="start"></ion-icon>
                      <ion-icon name="person" slot="start"></ion-icon>

                      <ion-label>
                        <p>EDITAR PERFIL</p>
                      </ion-label>


                    </ion-item>


                    <ion-item  class="sub-item" routerLink="/tabs/earn-points" routerDirection="root"
                      routerLinkActive="active"><ion-icon name="espacio-vacio" slot="start"></ion-icon>
                      <ion-icon name="albums" slot="start"></ion-icon>

                      <ion-label>
                        <P>ESTADÍSTICAS DE CUENTA</P>
                      </ion-label>


                    </ion-item>



                    <ion-item  class="sub-item" routerLink="/tabs/gallery" routerDirection="root"
                      routerLinkActive="active"><ion-icon name="espacio-vacio" slot="start"></ion-icon>
                      <ion-icon name="photos" slot="start"></ion-icon>

                      <ion-label>
                        <P>GALERIA MULTIMEDIA</P>
                      </ion-label>


                    </ion-item>



                  </ion-menu-toggle>
                </ion-list>
          
              </div>



            <div *ngFor="let pcustom of pagescustom">


 
                <ion-item button *ngIf="pcustom.children?.length > 0" (click)="pcustom.open = !pcustom.open" [class.parent-active]="pcustom.open" detail="false">
                    <ion-icon src="/assets/notification-icon.svg" color="primary" slot="start"></ion-icon>
                  <ion-label style="font-family: 'Ubuntu Mono', monospace;">MIS MENSAJES</ion-label>
                  <ion-icon slot="end" name="arrow-forward" *ngIf="!pcustom.open"></ion-icon>
                  <ion-icon slot="end" name="arrow-down" *ngIf="pcustom.open"></ion-icon>
                </ion-item>
          
                <!-- Children List for clicked Item -->
                <ion-list *ngIf="pcustom.open">
                  <ion-menu-toggle>


                    <ion-item *ngFor="let sub of pcustom.children" class="sub-item" routerLink="/tabs/favorites" routerDirection="root"
                      routerLinkActive="active"><ion-icon name="espacio-vacio" slot="start"></ion-icon>
                      <ion-icon name="mail" slot="start"></ion-icon>
                      <ion-label>
                          <p>INBOX</p>
                      </ion-label>
                    </ion-item>


                    <ion-item *ngFor="let sub of pcustom.children" class="sub-item" routerLink="/tabs/favorites" routerDirection="root"
                    routerLinkActive="active"><ion-icon name="espacio-vacio" slot="start"></ion-icon>
                    <ion-icon name="notifications" slot="start"></ion-icon>
                    <ion-label>
                        <p>MIS NOTIFICACIONES</p>
                    </ion-label>
                  </ion-item>



                  


                  </ion-menu-toggle>
                </ion-list>




                
          
              </div>



              <ion-item (click)="qrcode()">
                <ion-icon color="primary" slot="start" name="barcode"></ion-icon>
               <ion-label style="font-family: 'Ubuntu Mono', monospace;"> invitar por QR</ion-label>
              </ion-item>





          <ion-item (click)="logoutClicked()">
            <ion-icon color="primary" slot="start" name="log-out"></ion-icon>
           <ion-label style="font-family: 'Ubuntu Mono', monospace;"> Logout</ion-label>
          </ion-item>








            
        </ion-content>
      </ion-menu>
  <ion-router-outlet id="content1">


  </ion-router-outlet>



</ion-app>