.circle-photo-user{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display:block;
    margin:auto;
}
  a{
    
    color:#D50000;
  }

  .subTitle-user{
    left: 30%;
    font-weight: bold;
    position: absolute;
    font-size: 14px;
  }

  .btn-user-level{
    position:absolute;
    left: 70px;
  }

  .btn-user-earn{
    position: absolute;
    right: 20px;
  }

  .CyrusLogoWhite{
    width: 110px;
    display:block;
    margin:auto;
    //height: 65px;
   }
  

//inician las clases de javier:
.aliniacion_del_texto_en_la_columna {

  font-size: 0.9rem;
  position: absolute;
  left: 40px;
  top: -8px;
  color: rgb(18, 18, 20);
  text-align: center;
  display: block;
  font-weight: bold;
}


.textito {
  width: 200px;
  height: 40px;
  font-size: 0.6rem;
  position: absolute;
  left: 35px;
  top: 10px;
  color: rgb(18, 18, 20);
  text-align: left;
  display: block;
  font-weight: bold;
}


.espacio-de-diesiseis {

  height:15px;
  // background:green;

}

.espacio-de-150 {

  height:150px;

}

.espacio-de-diesiseis-horizontal {

  width:15px;
  // background:green;

}


.hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}



.la_carta_que_contiene_los_svg
{
  color: rgb(18, 18, 20);
  position: absolute;
  width: 100%;
  height: 300px;
  
 
}

.ver_mis_listas{
  align-items: center; 
  color: rgb(18, 18, 20);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 2%;
  top: 0;
}


.mas_oportunidades{
  align-items: center; 
  color: rgb(18, 18, 20);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 2%;
  top: 0;
}

.ver_mi_calendario{
  align-items: center;
  color: rgb(18, 18, 20);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 14%;
  top: 0;
}

.ver_datos_cuenta{
  align-items: center;
  color: rgb(18, 18, 20);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 19%;
  top: 0;

}




ion-col.someclass {

  position: center;
  text-align: center;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;

}


ion-row.lineaclass {

  position: center;
  text-align: center;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;

}

.grid {

  width: 100%;
  height: 50%;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.columna{


    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
  
  }


 
