<ion-header translucent>
      <ion-toolbar color="tertiary"> 
        <img src="/assets/cyrusLogo.svg"
        no-margin margin-vertical text-center class="CyrusLogoWhite">
        <br>
      </ion-toolbar>
    
    
    
      <!-- <ion-toolbar  style="color: rgb(255, 255, 255);">
    
        <ion-searchbar name="search" (ionChange)="PostSearch($event)" autocomplete="on" 
        animated></ion-searchbar>
      </ion-toolbar> -->
    
      </ion-header>
    
    <ion-content >
      
        <ion-grid>
            <ion-row>
              <ion-col size="1">
                <span class="slider-nav arrow-prev"
                  (click)="slidePrev(sliderOne,slideWithNav)">
                  <div class="prev-icon-custom custon-nav"
                    [class.disabled]="sliderOne.isBeginningSlide"></div>
                </span>
              </ion-col>
              <ion-col size="12">
         
                <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
                  (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
                  <ion-slide *ngFor="let s of sliderOne.slidesItems">
                    <img src="../../assets/images/{{s.id}}.jpg" style="width:500px;height:350px;" class="algo">
                  </ion-slide>
                </ion-slides>
         
              </ion-col>
              <ion-col size="1">
                <span class="slider-nav arrow-next"
                  (click)="slideNext(sliderOne,slideWithNav)">
                  <div class="next-icon-custom custon-nav"
                    [class.disabled]="sliderOne.isEndSlide"></div>
                </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        
    
     
         <br>
         <ion-text text-center class="title-views">
              <h4 text-center>Most Suscribed Events</h4>
         </ion-text>
        
    
       
       <ion-slides [options]="sliderConfig" scrollbar="true">
         <ion-slide *ngFor="let promotion of promotions" (click)="onGoToNextPage($event, promotion)">
    
    
          
    <ion-card >    
    <ion-card class="myCard" routerLink="/tabs/promo-description" mode="ios">
            
               <img  src="https://likeiu.com/api/img/events/dashboardimg/{{promotion.photo}}" 
               style="width:360px;height:100px;" >
    
               <div class="textonimg">
                <div class="card-title">{{promotion.name}}</div>
    
             </div>
               
               <ion-icon class="star-promo" name="star"></ion-icon>
    
    </ion-card>
    </ion-card>
    
    
    
        </ion-slide>
        </ion-slides> 
      
              
        <ion-item ></ion-item>
           <br>
          <ion-text class="title-views">
             <h4 text-center>Recommended</h4>
          </ion-text>
     
          <ion-slides [options]="sliderConfig" scrollbar="true">
              <ion-slide *ngFor="let promotion of promotions" (click)="onGoToNextPage($event, promotion)">
            
                <ion-card class="myCard" routerLink="/tabs/promo-description" color="light" mode="ios">
                 
                    <img  src="https://likeiu.com/api/img/events/dashboardimg/{{promotion.photo}}" 
                    style="width:360px;height:100px;" >
         
                    <div class="textonimg">
                     <div class="card-title">{{promotion.name}}</div>
         
                  </div>
                    
                    <ion-icon class="star-promo" name="star"></ion-icon>
      
                </ion-card>
             </ion-slide>
             </ion-slides> 
    
      <ion-item ></ion-item>
           <br>
        <ion-text class="title-views">
           <h4 text-center>Near you</h4>
        </ion-text>
    
    
    
        <ion-card color="light" >
    
            <ion-card-header>
              <ion-card-subtitle>Location Message:</ion-card-subtitle>
              <ion-card-title>Location load failed.</ion-card-title>
            </ion-card-header>
              <ion-card-content>
                  When you have location turned on for your phone, you can get info based on its location, like commute predictions, nearby restaurants, and local search results. When an app is using your phone’s location via GPS, the top of your screen shows Location<ion-icon name="pin" class="icon-heart"></ion-icon>
               <ion-grid>
                 <ion-row>
                   <ion-col>
                      &nbsp;
                   </ion-col>
                   <ion-col>
                      &nbsp;
                    </ion-col>
                    <ion-col>
                        <ion-button  color="primary"><ion-icon name="pin" class="icon-heart"></ion-icon></ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button  color="primary">Retry</ion-button>
                    </ion-col>
                 </ion-row>
               </ion-grid>
            
              </ion-card-content>
          </ion-card>
    
    
    
        <ion-item ></ion-item>
    
    
        <!-- <ion-grid class="grid" >
    
            <ion-row style="height: 50%;">
        
        
              <ion-col (click)="vermilistadeinvitacionesview()" class="columna" style="width: 50%;">
                    <ion-icon color="primary" class="ver_mis_listas" src="/assets/ver_mi_lista_home.svg" ></ion-icon>
              </ion-col>
    
            </ion-row>
        
        
    
    
         <ion-row style="height: 50%;">
        
              <ion-col (click)="masoportunidadesview()" class="columna" style="width: 50%;">
                    <ion-icon class="mas_oportunidades" src="/assets/mas-oportunidades-home.svg" ></ion-icon>
              </ion-col>
    
        </ion-row>
        
    
        
        
         <ion-row style="height: 50%;">
        
              <ion-col (click)="vermicalendarioview()" class="columna" style="width: 50%;">
                    <ion-icon class="ver_mi_calendario" src="/assets/ver_mi_calendario_home.svg" ></ion-icon>
              </ion-col>
    
         </ion-row>
    
    
    
         <ion-row style="height: 50%;">
        
            <ion-col (click)="verdatosdecuentaview()" class="columna" style="width: 50%;">
                  <ion-icon class="ver_datos_cuenta" src="/assets/ver_datos_cuenta_home.svg" ></ion-icon>
            </ion-col>
    
       </ion-row>
    
    
    
    
     
        
        
        <ion-row style="height: 50%;">
        
    
    
         </ion-row>
    
    
    
    
    
    
    
        
        
    
          </ion-grid> -->
    
    
    
    
        
    
    
    
    
    
    
    
    
    
        
    
     
    </ion-content>
    