.CyrusLogoWhite{
    width: 110px;
    display:block;
    margin:auto;
    //height: 65px;
   }



.sharingRestaurante{
    position: absolute; 
    top:52%; 
    left:80%;
    //font-size: 2em;
   }

   .btn-heart{
    position: absolute;
    left: 35%;
    top:90%;
    font-size: 26px;
    color:#DB0E0E;
   }

   .title-icon{
       position: absolute;
       right:  60%;
   }