<ion-header translucent>
        <ion-toolbar color="tertiary"> 
          <img src="/assets/cyrusLogo.svg"
          no-margin margin-vertical text-center class="CyrusLogoWhite">
          <br>
        </ion-toolbar>
</ion-header>
      
<ion-content color="dark" >




              <ion-grid>
                  <ion-row>
                    <ion-col size="4">
                        &nbsp;
                    </ion-col>
                    <ion-col size="4">
                         <img src="{{this.avatar}}"
                          no-margin margin-vertical text-center class="circle-photo-user">
                     </ion-col>
                    <ion-col size="2">
                        &nbsp;
                    </ion-col>
                    <ion-col>
                       <ion-button color="warning" routerLink="/tabs/edit-profile"> <ion-icon name="settings" 
                        style="left: -3px; font-size: 30px;position:absolute;top:5%;color:#ffffff"
                        ></ion-icon>
                       </ion-button>
                      </ion-col>
                  </ion-row>
                  <h5 text-center>{{this.name}} {{ this.lastname }}</h5>
              </ion-grid>
        

    <div class="hr"></div>
              

<ion-grid class="grid" no-padding>

    <ion-row style="height: 50%;">


      <ion-col (click)="vermilistadeinvitacionesview()" class="columna" style="width: 50%;">
            <ion-icon  class="ver_mis_listas" src="/assets/ver_mi_lista_perfil.svg" ></ion-icon>

      </ion-col>
      <ion-col (click)="masoportunidadesview()"  class="columna" style="width: 50%;">
            <ion-icon class="mas_oportunidades"  src="/assets/mas-oportunidades-perfil.svg" ></ion-icon>
      </ion-col>

    </ion-row>


<td></td>
<ion-row style="height: 5%;">

</ion-row>

<td></td>


    <ion-row style="height: 50%;">


      <ion-col (click)="vermicalendarioview()" class="columna" style="width: 50%;">
            <ion-icon class="ver_mi_calendario" src="/assets/ver_mi_calendario_perfil.svg" ></ion-icon>

      </ion-col>
      <ion-col (click)="verdatosdecuentaview()" class="columna" style="width: 50%;">
            <ion-icon class="ver_datos_cuenta"  src="/assets/ver_datos_cuenta_perfil.svg" ></ion-icon>
      </ion-col>

    </ion-row>


<td></td>

<ion-row style="height: 5%;">

</ion-row>

<td></td>


  </ion-grid>


</ion-content>
      