


<ion-content color="medium">
    <ion-grid>
        <ion-row>
          <ion-col>
              <a routerLink="/tabs/tab-user"><ion-icon name="arrow-back" 
               style="font-size: 2em" color="dark"></ion-icon></a>
          </ion-col>
         
        </ion-row>
    </ion-grid>
   
  <br>
    <h2 no-margin margin-vertical text-center style="color: #000000">See Benefits of the next level</h2> <br>
   
    <ion-card color="light">
      
      <h2 no-margin margin-vertical text-center style="color: #000000">Level 6</h2> <br>
     
        <p style="position: relative;text-align:center">Lorem ipsum dolor sit amet</p>
      <p style="position: relative;text-align:center">Lorem ipsum dolor sit amet</p>
      <p style="position: relative;text-align:center">Lorem ipsum dolor sit amet</p>
      <p style="position: relative;text-align:center">Lorem ipsum dolor sit amet</p>
      <p style="position: relative;text-align:center">Lorem ipsum dolor sit amet</p>
      <p style="position: relative;text-align:center">Lorem ipsum dolor sit amet</p>
      <p style="position: relative;text-align:center">Lorem ipsum dolor sit amet</p>
      <p style="position: relative;text-align:center">Lorem ipsum dolor sit amet</p>
      <p style="position: relative;text-align:center">Lorem ipsum dolor sit amet</p>
      <p style="position: relative;text-align:center">Lorem ipsum dolor sit amet</p><br>

    </ion-card>
</ion-content>
