

<ion-content no-padding color="diseno1">


    <ion-row class="row">

        <img src="assets/cyrusLogo.svg" class="img-logo">




    </ion-row>

    <div class="hr"></div>

  <!-- <div class="main"> -->


<!-- 
<ion-content no-padding color="medium"> -->
    <div class="espacio-de-cuarenta"></div>


  <section >



    
      <div >
        <div  class="main" text-center>
   
    <ion-card-content>   
  <ion-card-content>    
   
            <form [formGroup]="formularioUsuario" class="centra" (ngSubmit)="saveData()" novalidate>





                <ion-input  formControlName="nombre"  clearInput type="text" placeholder="NOMBRES" [(ngModel)]="name" class="input"
                 clear-input="true"></ion-input>
                <div class="espacio-de-diesiseis">
  
                    <ion-item color="continuidadalcolorfondo" *ngIf="formularioUsuario.get('nombre').errors && formularioUsuario.get('nombre').dirty">
                        <ion-text> <p *ngIf="formularioUsuario.get('nombre').hasError('required')" class="error2">
                           Name is Required.
                         </p></ion-text>
                         <p *ngIf="formularioUsuario.get('nombre').hasError('maxlength')" class="error2">
                           Max characters 30.
                         </p>
                       </ion-item>
                </div>
  
  
  
              <ion-input formControlName="apellidoss" clearInput type="text" placeholder="APELLIDOS" [(ngModel)]="last_name" class="input"
                padding-horizontal clear-input="true"></ion-input>
  
  
           <div class="espacio-de-diesiseis">
                <ion-item color="continuidadalcolorfondo" *ngIf="formularioUsuario.get('apellidoss').errors && formularioUsuario.get('apellidoss').dirty">
                    <p  *ngIf="formularioUsuario.get('apellidoss').hasError('required')" class="error2">
                      Last Name is Requiered.
                    </p>
                    <p *ngIf="formularioUsuario.get('apellidoss').hasError('maxlength')" class="error2">
                      Max characters 30.
                    </p>
                  </ion-item>  
  
           </div>
  
   
  
  
              <ion-input formControlName="correo" clearInput type="email" placeholder="EMAIL" [(ngModel)]="email" class="input" padding-horizontal
                clear-input="true"></ion-input>
  
  
  
          <div class="espacio-de-diesiseis">            
            <ion-item color="continuidadalcolorfondo"  *ngIf="formularioUsuario.get('correo').errors && formularioUsuario.get('correo').dirty">
                <p *ngIf="formularioUsuario.get('correo').hasError('required')" class="error2">
                  Email is Required.
                </p>
                <p *ngIf="formularioUsuario.get('correo').hasError('email')" class="error3">
                  Email was no valid.
                </p>
              </ion-item>
         </div>
   
   
  
              <ion-input formControlName="newPassword" clearInput type="password" placeholder="CONTRASEÑA" [(ngModel)]="password" class="input"
                padding-horizontal clear-input="true"></ion-input>
               
                
  
        <div class="espacio-de-diesiseis">             
                <ion-item color="continuidadalcolorfondo"  *ngIf="formularioUsuario.get('newPassword').errors && formularioUsuario.get('newPassword').dirty">
                    <p *ngIf="formularioUsuario.get('newPassword').hasError('required')" class="error2">
                      Password Is Required.
                    </p>
                    <p *ngIf="formularioUsuario.get('newPassword').hasError('minlength')" class="error2">
                      Min 8 Characters need.
                    </p>
                 
                    <p *ngIf="formularioUsuario.get('newPassword').hasError('maxlength')" class="error2">
                      Max characters 30.
                    </p>
                  </ion-item>
         </div>
           
  
                <ion-input formControlName="confirmPassword" clearInput type="password" placeholder="CONFIRMA SU CONTRASEÑA" [(ngModel)]="password_confirmation" class="input"
                  padding-horizontal clear-input="true"></ion-input>
   
   
         <div class="espacio-de-diesiseis"> 
                  <ion-item color="continuidadalcolorfondo"  *ngIf="formularioUsuario.get('confirmPassword').errors && formularioUsuario.get('confirmPassword').dirty">
                      <p *ngIf="formularioUsuario.get('confirmPassword').hasError('required')" class="error2">
                        Repeat Password.
                      </p>
                      <p *ngIf="formularioUsuario.controls['confirmPassword'].errors?.MatchPassword" class="error3">
                        No Coinciden
                </p>
                    </ion-item>
         </div>
  
                  <ion-item color="continuidadalcolorfondo" clearInput type="string" class="input" padding-horizontal clear-input="true">
  
                      <span item-right><ion-icon name="add" color="primary"></ion-icon></span>
  
  
                      
              <ion-input formControlName="telefono" clearInput type="string"  class="input2" placeholder="TELÉFONO" [(ngModel)]="phone"
                padding-horizontal clear-input="true"></ion-input>
  
  
              </ion-item>
  
  
       <div class="espacio-de-diesiseis">      
         
        
              <ion-item color="continuidadalcolorfondo"   *ngIf="formularioUsuario.get('telefono').errors && formularioUsuario.get('telefono').dirty">
                  <p *ngIf="formularioUsuario.get('telefono').hasError('required')" class="error3">
                    Type your phone number.
                  </p>
                  <p *ngIf="formularioUsuario.get('telefono').hasError('minlength')" class="error2">
                    Min 8 Characters need.
                  </p>
               
                  <p *ngIf="formularioUsuario.get('telefono').hasError('maxlength')" class="error3">
                    Max characters 15.
                  </p>
                </ion-item>    
       </div>                 
  

  
  
       <div class="centra">
                 <ion-button class="btn-registrarme"   type="submit" [disabled]="!formularioUsuario.valid" color="primary" >
                  <strong class="white">
                  CONTINUAR</strong>
                  </ion-button>
       </div>
  
     
  



</form>  

  </ion-card-content>       
  </ion-card-content>  
   
        </div>
      </div>
    


 
    
    </section>
    


    <div class="espacio-de-diesiseis">         
    </div>

   

            <!-- <ion-text class="error" text-center>{{error}}</ion-text> -->



            <ion-text text-center class="block">Ya tienes cuenta ?
              <span class="bold" routerLink="/login">Ingresa aqui</span></ion-text>

        
<!-- todo -->
              <div><ion-icon (click)="backloginpage()" name="arrow-back"></ion-icon></div> 

</ion-content>




