.main {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 767px) {
  ion-card {
    width: 60vh;

    // margin: auto;
    
  }
}



.scroll-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}

ion-card {

  box-shadow: none;
  -webkit-box-shadow: none;
  overflow: scroll;
}


.hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}


.input {
  background-color: #333333;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 9px;
  font-size: 0.9em !important;
  color: #fff;
  letter-spacing: 2px;

  --placeholder-color: rgb(220,220,220,0.2);
}


.input2 {

  // border: 1px solid rgb(255, 255, 255);
  border-radius: 9px;
  font-size: 0.9em !important;
  color: #fff;
  text-align: center;


  --placeholder-color: rgb(220,220,220,0.3);

}


ion-input{
  --placeholder-color: rgb(255, 255, 255);
  --placeholder-opacity: 1;
}



ion-grid {
  height: 100%;
  justify-content: center;
}


.scroll-content {
  color: #333333;
  background-color: #333333;
  background: #333333;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}





.white {
  color: white;
}

.small {
  font-size: 13px;
  a {
    text-decoration: unset !important;
  }
}
.button-color {
 background-color: var(--ion-color-mytheme);
}
.logo {
  width: 1.25em !important;
}
.grid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.centra {
  justify-content: center;
  align-items: center;


    text-align: center;
  

}



.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
 .img-logo {
   height: 150px;
   width: 150px;
 }
.fire-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  
}
.bold {
  font-weight: bold;
}
.block {
  display: block;
  color: #fff;
}
.transition {
  background: linear-gradient(to right, #333333 14%, #333333 96%);
  border: 1px solid #fff;
  border-radius: 5px;
  color:#fff;
}
.btn-color {
  color: #ffa000;
}

.error {
  position: absolute;
  left: 0px;
  top: -8px;
  color: rgb(20, 37, 224);
  text-align: center;
  display: block;
  font-weight: bold;
}


.error2 {
  position: absolute;
  left: 0px;
  top: -2px;
  color: rgb(45, 92, 234);

  display: block;
  font-weight: bold;
  font-size: 10px;
}

.error3 {
  position: absolute;
  left: 0px;
  top: -2px;
  color: red;

  display: block;
  font-weight: bold;
  font-size: 10px;
}





.btn-facebook{
  color: #E1F5FE !important;
  border: 1px solid #E1F5FE;
  border-radius: 5px;
  
}

.btn-google{
  height: 37px;
  width: 164px;
  justify-content: center;
  text-align: center;

  //necesario para el radio redondo
  border-radius: 32px;
  overflow:hidden;
  //fin
}

.btn-enviar{
  height: 35px;
  width: 145px;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  //necesario para el radio redondo
  border-radius: 32px;
  overflow:hidden;
  //fin
}

.btn-registrarme{
  height: 38px;
  width: 160px;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  //necesario para el radio redondo
  border-radius: 32px;
  overflow:hidden;
  //fin
}




.lineaverticalcentrada {
  color:rgb(255, 255, 255);
  text-align: center;
}


.verticalLine {
  width:1%;
  height:75%;
  background:green;
  margin: auto;
}

.espacio-de-cuarenta {

  height:40px;
  // background:green;

}


.espacio-de-diesiseis {

  height:15px;
  // background:green;

}

.continuidadalcolorfondo {

  color: red;
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 9px;
  vertical-align: text-top;
}

