<ion-header translucent>
  <ion-toolbar color="tertiary"> 
    <img src="/assets/cyrusLogo.svg"
    no-margin margin-vertical text-center class="CyrusLogoWhite">
    <br>
  </ion-toolbar>
  </ion-header>




<ion-content>

    <h4 class="centra"><p class="centra">CHECA LOS<br>EVENTOS</p></h4>

<div class="hr">
</div>






<ion-grid class="grid">


 <ion-list>

  <ion-row >

      <ion-col size="1.2">

          <ion-icon color="primary" name="checkmark"></ion-icon>
  
        </ion-col>

        <ion-col size="5" >

            <div style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-80">
               <p class="parrafo-del-texto-evento">EVENTO: XXX XXX XXX</p>
           </div>
        </ion-col>

  
  </ion-row>
    

  <ion-row >


      <ion-col size="1.2">

          <ion-icon color="primary" name="espacio-vacio"></ion-icon>
  
        </ion-col>

        <ion-col size="5" >

            <div style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-80">
               <p class="parrafo-del-texto-evento">PUESTO: XXX XXX XXX</p>
           </div>
        </ion-col>



  </ion-row>



  <ion-row >

      <ion-col size="1.2">

          <ion-icon color="primary" name="espacio-vacio"></ion-icon>
  
        </ion-col>

        <ion-col size="5" >

            <div style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-80">
               <p class="parrafo-del-texto-evento">FECHA: 20-10-19</p>
           </div>
        </ion-col>



  </ion-row>




  <ion-row >

      <ion-col size="1.2">

          <ion-icon color="primary" name="espacio-vacio"></ion-icon>
  
        </ion-col>

        <ion-col size="5" >

            <div style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-80">
                <p class="parrafo-del-texto-evento">VER DETALLER DEL EVENTO  <ion-icon name="arrow-forward"></ion-icon>
           </div>
        </ion-col>



      
  </ion-row>





  <ion-row >

      <ion-col size="1.2">

          <ion-icon color="primary" name="espacio-vacio"></ion-icon>
  
        </ion-col>

        <ion-col size="5" >

            <div style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-80">
               <p style="color:rgb(61, 90, 216); font-weight: 770;" class="parrafo-del-texto-evento">POSTULARME</p>
           </div>
        </ion-col>

        <ion-col size="1.2">
          
         <div class="divdetoggle" style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-80">
            <ion-toggle  class="toggle" checked></ion-toggle>
         </div>   
          </ion-col>


  </ion-row>

  
<ion-row end >


      <div class="hr-de-80">
        </div>



</ion-row>





</ion-list>



<ion-list>

    <ion-row >
  
        <ion-col size="1.2">
  
            <ion-icon color="primary" name="checkmark"></ion-icon>
    
          </ion-col>
  
          <ion-col size="5" >
  
              <div style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-80">
                 <p class="parrafo-del-texto-evento">EVENTO: XXX XXX XXX</p>
             </div>
          </ion-col>
  
    
    </ion-row>
      
  
    <ion-row >
  
  
        <ion-col size="1.2">
  
            <ion-icon color="primary" name="espacio-vacio"></ion-icon>
    
          </ion-col>
  
          <ion-col size="5" >
  
              <div style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-80">
                 <p class="parrafo-del-texto-evento">PUESTO: XXX XXX XXX</p>
             </div>
          </ion-col>
  
  
  
    </ion-row>
  
  
  
    <ion-row >
  
        <ion-col size="1.2">
  
            <ion-icon color="primary" name="espacio-vacio"></ion-icon>
    
          </ion-col>
  
          <ion-col size="5" >
  
              <div style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-80">
                 <p class="parrafo-del-texto-evento">FECHA: 6-11-19</p>
             </div>
          </ion-col>
  
  
  
    </ion-row>
  
  
  
  
    <ion-row >
  
        <ion-col size="1.2">
  
            <ion-icon color="primary" name="espacio-vacio"></ion-icon>
    
          </ion-col>
  
          <ion-col size="5" >
  
              <div style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-80">
                  <p class="parrafo-del-texto-evento">VER DETALLER DEL EVENTO  <ion-icon name="arrow-forward"></ion-icon>
             </div>
          </ion-col>
  
  
  
        
    </ion-row>
  
  
  
  
  
    <ion-row >
  
        <ion-col size="1.2">
  
            <ion-icon color="primary" name="espacio-vacio"></ion-icon>
    
          </ion-col>
  
          <ion-col size="5" >
  
              <div style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-80">
                 <p style="color:rgb(61, 90, 216); font-weight: 770;" class="parrafo-del-texto-evento">POSTULARME</p>
             </div>
          </ion-col>
  
          <ion-col size="1.2">
            
           <div class="divdetoggle" style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-80">
              <ion-toggle  class="toggle" checked></ion-toggle>
           </div>   
            </ion-col>
  
  
    </ion-row>
  
    
  <ion-row end >
  
  
        <div class="hr-de-80">
          </div>
  
  
  
  </ion-row>
  

  
  
  <!-- el ngfor lo va a tener el ion-list... -->
  </ion-list>



  <ion-list>

      <ion-row >
    
          <ion-col size="1.2">
    
              <ion-icon color="primary" name="checkmark"></ion-icon>
      
            </ion-col>
    
            <ion-col size="5" >
    
                <div style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-80">
                   <p class="parrafo-del-texto-evento">EVENTO: XXX XXX XXX</p>
               </div>
            </ion-col>
    
      
      </ion-row>
        
    
      <ion-row >
    
    
          <ion-col size="1.2">
    
              <ion-icon color="primary" name="espacio-vacio"></ion-icon>
      
            </ion-col>
    
            <ion-col size="5" >
    
                <div style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-80">
                   <p class="parrafo-del-texto-evento">PUESTO: XXX XXX XXX</p>
               </div>
            </ion-col>
    
    
    
      </ion-row>
    
    
    
      <ion-row >
    
          <ion-col size="1.2">
    
              <ion-icon color="primary" name="espacio-vacio"></ion-icon>
      
            </ion-col>
    
            <ion-col size="5" >
    
                <div style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-80">
                   <p class="parrafo-del-texto-evento">FECHA: 17-12-19</p>
               </div>
            </ion-col>
    
    
    
      </ion-row>
    
    
    
    
      <ion-row >
    
          <ion-col size="1.2">
    
              <ion-icon color="primary" name="espacio-vacio"></ion-icon>
      
            </ion-col>
    
            <ion-col size="5" >
    
                <div style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-80">
                   <p class="parrafo-del-texto-evento">VER DETALLER DEL EVENTO  <ion-icon name="arrow-forward"></ion-icon>
                   </p>
               </div>
            </ion-col>
    
    
    
          
      </ion-row>
    
    
    
    
    
      <ion-row >
    
          <ion-col size="1.2">
    
              <ion-icon color="primary" name="espacio-vacio"></ion-icon>
      
            </ion-col>
    
            <ion-col size="5" >
    
                <div style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-80">
                   <p style="color:rgb(61, 90, 216); font-weight: 770;" class="parrafo-del-texto-evento">POSTULARME</p>
               </div>
            </ion-col>
    
            <ion-col size="1.2">
              
             <div class="divdetoggle" style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-80">
                <ion-toggle  class="toggle" checked></ion-toggle>
             </div>   
              </ion-col>
    
    
      </ion-row>
    
      
    <ion-row end >
    
    
          <div class="hr-de-80">
            </div>
    
    
    
    </ion-row>
    
  
    
    </ion-list>




  </ion-grid>



  



  






</ion-content>



