

<ion-content>


  <h3><ion-text><p style="text-align: left; font-family: 'Ubuntu Mono', monospace;">HABILIDADES</p></ion-text></h3>
 

<!-- codigo necesario para un show hide-DIV de varios valores por separado
  <div *ngFor="let p of medicionesdrops">
      <ion-item  (click)="p.open = !p.open">
       {{ p.name }}
      </ion-item>
      <ion-list *ngIf="p.open">
{{ p.name }}
      </ion-list>
    </div> -->
  
  
        <div *ngIf="medicionesdrops!=null" [formGroup]="formGroups">
          <div formArrayName="valuess">
  
  
        <!-- <form > -->

     <!-- se elimino por lineas y columnas para hacer una tabla con inputs. multidinamicos unidimensionales segun arrays -->
                                             <!-- <ion-row *ngFor="let medicionesinput of medicionesinputs" >
                                                      <ion-col size="6">
                                                      {{medicionesinput.name}}
                                                      </ion-col>
                                                      <ion-col size="2.5" >
                                                            <ion-input   
                                                             class="imputs" type="number" placeholder="Indique" ></ion-input> 
                                                      </ion-col>
                                                      <ion-col size="2">
                                                          <p>{{medicionesinput.medida}}</p> 
                                                      </ion-col>
                                              </ion-row> -->

                                              
                                              
                                              
                                              
                    <ion-grid style=" width: 100%;" class="grid">
                             <ion-list *ngFor="let medicionesdrop of medicionesdrops; index as z" [formArrayName]="z">
                                  <div  *ngFor="let data of panges; index as p">

                                        <ion-row  style="text-align: left; width: 100%; height: 20%;">
                                                    <ion-col style="text-align: left; width: 100%;" size="8" >
                                                      <ion-text style="text-align: left; width: 90%; font-size: 0.7rem;       position: absolute;
                                                      top: 0; left: 0; bottom: 0; right: 0;"  >
                                                        <p style="text-align: left; font-family: 'Ubuntu Mono', monospace; text-align: left; width: 90%; height:35%;" style="text-align: left;">{{medicionesdrop.name}}</p> 
                                                      </ion-text> 
                                                    </ion-col>


                                                    <ion-col style="text-align: center; width: 8%; ">
                                                        <ion-toggle style="zoom: 0.5;  height:37%; "  (click)="medicionesdrop.open = !medicionesdrop.open" class="toggle"  ></ion-toggle>
                                                    </ion-col>
                                          </ion-row >

                                          <ion-row  style="text-align: left; width: 100%;">
                                              <ion-col style="text-align: left; width: 100%;" >

                                                      <ion-select *ngIf="medicionesdrop.open" style="text-align: left; width: 80%;  font-size: 0.7rem;" placeholder="Seleccione nivel" [formControlName]="p"  class="drops" >
                                                          <ion-select-option  style="text-align: left; font-family: 'Ubuntu Mono', monospace; text-align: left; width: 80%;  font-size: 0.7rem;" *ngFor="let medicionesdro of medicionesdrop.habilidadesdropsconfig" >{{medicionesdro.valor}}</ion-select-option>
                                                      </ion-select>

                                              </ion-col>

                                          </ion-row>
                                          
                                        </div>    
                            </ion-list>

                      </ion-grid>
              
              
            </div>
          </div>      
  
  
  
        <ion-row style="text-align: center ;  justify-content: center; align-items: center; text-align: center;">
        <ion-button class="btn-registrarme" (click)="asd()" type="submit" color="primary" >
          <strong style="font-family: 'Montserrat', sans-serif;" class="white">
          CONTINUAR</strong>
          </ion-button>
        </ion-row>    
  
  
  
  <!-- previsualizador del formgroup       -->
        <!-- <pre>
          {{ formGroups.value | json }}
        </pre> -->
  
  
  </ion-content>
  