<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>reservation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
 
    <ion-card color="light" mode="ios">
        <ion-input clearInput type="text" style="color:#8F8F8F" 
        placeholder="TEXTO LIBRE" name="local_id" [(ngModel)]="local_id"></ion-input>
    </ion-card>

       
    <ion-card color="light" mode="ios">
        <ion-input style="color:#8F8F8F" type="number" placeholder="Cantidad de Personas" 
        name="amount_person" [(ngModel)]="amount_person" maxlength="2"></ion-input>
    </ion-card>
     

       
   <div padding>
     <ion-button round outline block (click)="reservation()">Register</ion-button>
  </div>


</ion-content>
