<ion-header translucent>
    <ion-toolbar color="tertiary"> 
      <img src="/assets/cyrusLogo.svg"
      no-margin margin-vertical text-center class="CyrusLogoWhite">   
      <br>
    </ion-toolbar>

    <ion-toolbar  style="color: rgb(18, 6, 85);text-align: center;">
        <ion-text center style="color: rgb(61, 90, 216);font-weight: bold;"><h5>CREAR EVENTO</h5></ion-text>
    </ion-toolbar>

    </ion-header>


<ion-content>


  <form >



  
      <ion-item no-lines>
                  
          <ion-label stacked><p class= "texto-de-preguntas">EVENTO:</p></ion-label>

            <textarea type="text"  textarea rows="1" cols="20">
      
              </textarea>


        </ion-item>    


            <ion-list no-lines>

                <ion-item no-lines>
                  <ion-label><p class= "texto-de-preguntas">TIPO DE EVENTO:</p></ion-label>
                  
                  <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                    <ion-select-option value="brown">Tipo X</ion-select-option>
                    <ion-select-option value="blonde">Tipo XY</ion-select-option>
                    <ion-select-option value="black">Tipo XYZ</ion-select-option>
                  </ion-select>
                </ion-item>
           </ion-list>
              <ion-item>
                <ion-label><p class= "texto-de-preguntas">INICIO</p></ion-label>
                <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2019" max="2026" value="2019-01-01"></ion-datetime>
              </ion-item>

              <ion-item>
                  <ion-label><p class= "texto-de-preguntas">FIN:</p></ion-label>
                  <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2019" max="2027" value="2019-01-02"></ion-datetime>
                </ion-item>
              <ion-item no-lines>
                <ion-label stacked><p class= "texto-de-preguntas">UBICACION:</p></ion-label>
                  <textarea type="text"  textarea rows="1" cols="20">   
                    </textarea>
              </ion-item>       
                <ion-label stacked><p class= "texto-de-preguntas">DESCRIPCIÓN:</p></ion-label>


                  <div class="center-objects" >
                      <textarea type="text"  textarea rows="5" cols="35">
            
                     </textarea>
                  </div>

                <ion-col text-center>
                  <ion-button routerLink="/tabs/home" expand="block" color="primary">CREAR POSTULANTE</ion-button>

                  </ion-col>
  

                  </form>             






</ion-content>
