<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Espere...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>Cargando contenido...</ion-text>
</ion-content>
