<ion-header translucent>
    <ion-toolbar color="tertiary"> 
      <img src="/assets/cyrusLogo.svg"
      
      no-margin margin-vertical text-center class="CyrusLogoWhite">   
      <br>
    </ion-toolbar>

    </ion-header>
  <ion-toolbar no-border-top color="primary">
    <ion-item color="primary">
      <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="category">
            <ion-icon src="assets/pointsWhile.svg"></ion-icon>
        </ion-segment-button>
      
        <ion-segment-button value="Gold">
            <ion-icon src="assets/pointYellow.svg"></ion-icon>
        </ion-segment-button>
       
        <ion-segment-button value="Details">
            <!-- <img src="/assets/pointsWhile" alt=""> -->
           <ion-icon src="assets/pointsWhile.svg"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    </ion-toolbar>
  
  <ion-content padding >
      <div [ngSwitch]="segment">
          <ion-list *ngSwitchCase="'category'">
              <h2 no-margin margin-vertical text-center
               style="color: #fff">Basic Points</h2> <br>
           <ion-card color="light" mode="ios">
            <ion-row>
              <ion-col>
                <ion-chip color="primary">
                    <ion-avatar>
                      <img src="assets/images/pointsBlue.png">
                    </ion-avatar>
                    <ion-label>Current Basic Points</ion-label>
                </ion-chip>
              </ion-col>
               <ion-col size="5">
                 <ion-chip color="primary">
                   <ion-label>{{total_basic_points}}</ion-label> 
                 </ion-chip>
               </ion-col>
            </ion-row>
         </ion-card>  
         
         <ion-card color="light" mode="ios">
            <ion-row>
                <ion-col>
                  <ion-chip color="primary">
                      <ion-avatar>
                        <img src="assets/images/pointsBlue.png">
                      </ion-avatar>
                      <ion-label>Spent Basic Points</ion-label>
                  </ion-chip>
                </ion-col>
                 <ion-col size="5">
                   <ion-chip color="primary">
                     <ion-label>{{spent}}</ion-label> 
                   </ion-chip>
                 </ion-col>
              </ion-row>
         </ion-card>

         <ion-card color="light" mode="ios">
            <ion-row>
                <ion-col>
                  <ion-chip color="primary">
                      <ion-avatar>
                        <img src="assets/images/pointsBlue.png">
                      </ion-avatar>
                      <ion-label>Historic Basic Points</ion-label>
                  </ion-chip>
                </ion-col>
                 <ion-col size="5">
                   <ion-chip color="primary">
                     <ion-label>{{historic}}</ion-label> 
                   </ion-chip>
                 </ion-col>
              </ion-row>
         </ion-card>
               
          </ion-list>
          <ion-list *ngSwitchCase="'Gold'">

              <h2 no-margin margin-vertical text-center
              style="color: #fff">Gold Points</h2> <br>
          <ion-card color="light" mode="ios">
           <ion-row>
             <ion-col>
               <ion-chip color="primary">
                   <ion-avatar>
                     <img src="assets/images/pointGold.png">
                   </ion-avatar>
                   <ion-label>Current Gold</ion-label>
               </ion-chip>
             </ion-col>
              <ion-col size="5">
                <ion-chip color="primary">
                  <ion-label>{{total_gold_points}}</ion-label> 
                </ion-chip>
              </ion-col>
           </ion-row>
        </ion-card>  
        
        <ion-card color="light" mode="ios">
           <ion-row>
               <ion-col>
                 <ion-chip color="primary">
                     <ion-avatar>
                       <img src="assets/images/pointGold.png">
                     </ion-avatar>
                     <ion-label>Spent Gold</ion-label>
                 </ion-chip>
               </ion-col>
                <ion-col size="5">
                  <ion-chip color="primary">
                    <ion-label>{{spent_gold}}</ion-label> 
                  </ion-chip>
                </ion-col>
             </ion-row>
        </ion-card>

        <ion-card color="light" mode="ios">
           <ion-row>
               <ion-col>
                 <ion-chip color="primary">
                     <ion-avatar>
                       <img src="assets/images/pointGold.png">
                     </ion-avatar>
                     <ion-label>Historic Gold</ion-label>
                 </ion-chip>
               </ion-col>
                <ion-col size="5">
                  <ion-chip color="primary">
                    <ion-label>{{gold_historic}}</ion-label> 
                  </ion-chip>
                </ion-col>
             </ion-row>
        </ion-card>
          
          </ion-list>
          <ion-list *ngSwitchCase="'Details'">
                
          <ion-grid>
            <ion-row>
                <ion-col>
                    &nbsp;
                </ion-col>
                <ion-col>
                    <img src="assets/images/pointsBlue.png" alt="">
                </ion-col>
                <ion-col>
                    <h1 text-center style="color:#fff; font-weight: 900;">{{total_basic_points}}</h1>
                </ion-col>
                <ion-col>
                    &nbsp;
                </ion-col>
              </ion-row>
          </ion-grid>
                  
            
            <ion-card color="light" mode="ios">
              <ion-grid>
                  <ion-row>
                    <ion-col size="5">
                        &nbsp;
                    </ion-col>
                    <ion-col>
                      Points
                      earned
                    </ion-col>
                    <ion-col>
                      spent
                      points
                    </ion-col>
                    <ion-col>
                      total
                      points
                    </ion-col>
                  </ion-row>
              </ion-grid>   
            </ion-card>

            
            <ion-card color="light" mode="ios">
                <ion-grid>
                    <ion-row>
                      <ion-col size="5">
                        <ion-chip color="primary">
                            <ion-label color="primary">lorem itso</ion-label>
                        </ion-chip>
                      </ion-col>
                      <ion-col>
                      <h3>122</h3>
                      </ion-col>
                      <ion-col>
                      <h3>722</h3>
                      </ion-col>
                      <ion-col>
                        <h3>182</h3>
                      </ion-col>
                    </ion-row>
                </ion-grid> 
              </ion-card>
             
              <ion-card color="light" mode="ios">
                <ion-grid>
                    <ion-row>
                      <ion-col size="5">
                        <ion-chip color="primary">
                            <ion-label color="primary">lorem itso</ion-label>
                        </ion-chip>
                      </ion-col>
                      <ion-col>
                      <h3>422</h3>
                      </ion-col>
                      <ion-col>
                      <h3>172</h3>
                      </ion-col>
                      <ion-col>
                      <h3>322</h3>
                      </ion-col>
                    </ion-row>
                </ion-grid>   
                </ion-card>

            <ion-card color="light" mode="ios">
              <ion-grid>
                  <ion-row>
                      <ion-col size="5">
                        <ion-chip color="primary">
                        <ion-label color="primary">lorem itso</ion-label>
                      </ion-chip>
                     </ion-col>
                    <ion-col>
                    <h3>182</h3>
                    </ion-col>
                    <ion-col>
                    <h3>122</h3>
                    </ion-col>
                    <ion-col>
                    <h3>422</h3>
                    </ion-col>
                  </ion-row>
              </ion-grid>   
            </ion-card>    
          </ion-list>
     </div>
  
  
  
  
         <div *ngIf="searching" class="spinner-container">
          <ion-spinner></ion-spinner>
        </div>
  
    <br>   
      
     <!-- <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div> -->
  
    <!-- <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item.title }}
      </ion-item>
    </ion-list> -->
  </ion-content>