

<ion-content no-padding color="diseno1">


  <ion-row class="row">

      <img src="assets/cyrusLogo.svg" class="img-logo">




  </ion-row>

  <div class="hr"></div>

<!-- <div class="main"> -->


<!-- 
<ion-content no-padding color="medium"> -->
  <div class="espacio-de-cuarenta"></div>


  <div  text-center>

    <h1 style="color:white; font-family: 'Montserrat', sans-serif;">!GRACIAS POR <BR>
    REGISTRARTE!
    </h1>
    
    </div>

    <div  text-center>

      <h6 style="color:white; font-family: 'Montserrat', sans-serif;">Porfavor verifica: {{this.data.email}} <BR>
      e ingresa el codigo proporcionado
      </h6>
      
      </div>





<section >



  
    <div >
      <div  class="main" text-center>
 
  <ion-card-content>   
<ion-card-content>    
 
<form  class="centra"  novalidate>




            <ion-input name="codigoingresado" [(ngModel)]="codigoingresado" clearInput type="number" placeholder="CODIGO ENVIADO" class="input"
              padding-horizontal clear-input="true"></ion-input>
             



     <div class="espacio-de-diesiseis">         
      </div>
      <div class="espacio-de-diesiseis">         
        </div>


     <div class="centra">
               <ion-button class="btn-registrarme"  (click)="confirmarcodigo()" type="submit" color="primary" >
                <strong style="font-family: 'Montserrat', sans-serif;" class="white">
                CONTINUAR</strong>
                </ion-button>
     </div>




</form>  


     <BR>

     <h6 style="color:white; font-family: 'Montserrat', sans-serif;">EDITAR EMAIL: <BR>
      </h6>    

   
<div>
     <ion-icon style="width: 3em; height: 3em;" color="light" name="arrow-dropdown" ion-button (click)="hide()">.</ion-icon>
    </div>

     <div *ngIf="hideMe">
       
        <div>



<form  class="centra"  novalidate>


                  <ion-input clearInput type="text" placeholder="NUEVO CORREO" class="input"
                    padding-horizontal clear-input="true"></ion-input>
                   

      
      
           <div class="espacio-de-diesiseis">         
            </div>

      
           <div class="centra">
                     <ion-button class="btn-registrarme"   type="submit" color="primary" >
                      <strong class="white">
                      CAMBIAR O REENVIAR</strong>
                      </ion-button>
           </div>
      

<!-- <ion-icon style="width: 1em; height: 1em;" color="primary" name="arrow-dropup-circle" (click)="hide()"></ion-icon> -->
           
        
</form>  


        
        </div>
    
    </div>







</ion-card-content>       
</ion-card-content>  
 
      </div>
    </div>
  



  
  </section>
  


  <div class="espacio-de-diesiseis">         
  </div>

 

      
<!-- todo -->
            <div><ion-icon (click)="backloginpage()" name="arrow-back"></ion-icon></div> 





</ion-content>




