@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

:root {

  --ion-font-family: 'Indie Flower', cursive;

  /** primary **/
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.img-logo {
    height: 150px;
    width: 150px;
  }


   .hr {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
  }


  .hr-de-80 {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 67%;
    height: -10%;
    text-size-adjust: 10px;
    position: relative;

    left: 16%;
    top: 0;
  }

  .centra {
      text-size-adjust: 10px;
    justify-content: center;
      text-align: center;
      color: rgb(44, 42, 42);
  }

  .grid {

    width: 100%;
    height: 50%;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
  
  }

  .espacio-hor-10{
    align-items: center; 
    color: rgb(18, 18, 20);
    position: absolute;
    width: 400%;
    height: 400%;
    left: 0%;
    top: 0;
  


  }

  .espacio-hor-80{
    align-items: center; 
    color: rgb(18, 18, 20);
    position: absolute;
    width: 400%;
    height: 400%;
    left: 0%;
    top: -2%;


  }


  .espacio-hor-entrenombres-1{
    align-items: center; 
    color: rgb(18, 18, 20);
    position: absolute;
    width: 400%;
    height: 600%;
    left: 0%;
    top: -2%;


  }

  .espacio-hor-entrenombres-2{
    align-items: center; 
    color: rgb(18, 18, 20);
    position: absolute;
    width: 400%;
    height: 400%;
    left: 0%;
    top: -2%;


  }


  .espacio-hor-10-otro{
    align-items: center; 
    color: rgb(18, 18, 20);
    position: absolute;
    width: 400%;
    height: 400%;
    left: 0%;
    top: 0;
  }

.parrafo-del-texto-evento
{
  text-align: left; position: absolute;     left: 0%;
  top: -6%;
  width: 100%;
  height: 1%;
  left: 3%;
}

.divdetoggle{
  align-items: center; 
  color: rgb(18, 18, 20);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0;
}


.toggle{
  align-items: center; 
  color: rgb(18, 18, 20);
  position: absolute;

  left: 50%;
  top: -3%;
  border-radius: 6px !important;
  font-size: 1rem !important; 


  .track
  {
        border-radius: 6px !important;
        width: 0px;
  }
  
  .handle
  {
        width: 32px !important;
        height: 32px !important;
        top: 0
        px !important;
  }
  
  .handle:before {
     font-family: "Ionicons";
     content: "\f13f" !important;
     top: 0px !important;
     left: 0px !important;
  }
  
  .toggle input:checked + .track .handle {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }

  .centra {
    justify-content: center;
    align-items: center;
  
  
      text-align: center;
    
  
  }

  .btn-registrarme{
    height: 38px;
    width: 160px;
    justify-content: center;
    text-align: center;
    letter-spacing: 2px;
    //necesario para el radio redondo
    border-radius: 60px;
    overflow:hidden;
    //fin
  }
  
.inputotras{

  text-align: left;
  font-family: 'Ubuntu Mono', monospace;


}

  


}

