

<ion-content no-padding >


    <ion-row class="row">
  
<h3>ELIJE LOS TRABAJOS<BR>
QUE QUIERES REALIZAR
</h3>  
  
  
  
    </ion-row>
  
    <div style="height: 3px;" class="hr">
  
    </div>

    <section >
    
    <ion-grid  class="grid">

                                        <ion-list *ngFor="let ocupation of ocupations ">


                                            <ion-row >
                                                <ion-col size="1.0">

                                                    <!-- <ion-icon color="primary" name="espacio-vacio"></ion-icon> -->
                                            
                                            <div class="espacio-de-cuarenta">
                                        &nbsp;
                                            </div>

                                                </ion-col>
                                        
                                                <ion-col size="6" >
                                                    <div style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-entrenombres-1">
                                                        <p style="color:rgb(15, 15, 15); font-weight: 690;" class="parrafo-del-texto-evento">{{ocupation.name}}</p>
                                                    </div>
                                                </ion-col>
                                        
                                                <ion-col size="1.2">
                                                    
                                                <div class="divdetoggle" style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-entrenombres-1">
                                                    <ion-toggle  class="toggle" [(ngModel)]="ocupation.isAssigned"  ></ion-toggle>
                                                </div>   
                                                    </ion-col>
                                        </ion-row>

                                        </ion-list>

                                        <ion-row >
                                        <ion-col size="1.0">

                                                <!-- <ion-icon color="primary" name="espacio-vacio"></ion-icon> -->
                                        
                                        <div class="espacio-de-cuarenta">
                                        &nbsp;
                                        </div>

                                         </ion-col>

                                         <ion-col size="6" >
                                                <div style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-entrenombres-1">
                                                    <p style="color:rgb(15, 15, 15); font-weight: 690;" class="parrafo-del-texto-evento">OTRAS</p>
                                                </div>


                                        
                                            </ion-col>

                                            <ion-col size="1.2">
                                                
                                            <div  class="divdetoggle" style="text-align: left; font-family: 'Ubuntu Mono', monospace;" class="espacio-hor-entrenombres-1">
                                                <ion-toggle  (click)="hide()" class="toggle"  ></ion-toggle>
                                            </div>   
                                                </ion-col>
                                       </ion-row>


                                        <div *ngIf="hideMe">
                                        <div>
                                            <ion-list lines="none">
                                                <form [formGroup]="myForm">
                                                    <ion-item *ngFor="let control of myForm.controls | keyvalue">
                                                        <ion-input (ngSubmit)="onSubmit(myForm.value)" id="player1" ngControl="player1" class="inputotras" required type="text" [formControlName]="control.key" placeHolder="NOMBRE DEL TRABAJO"></ion-input>
                                                        <ion-icon (click)="removeControl(control)" name="close-circle"></ion-icon>
                                                    </ion-item>
                                                    </form>
                                                    <ion-button style="text-align: left; font-family: 'Ubuntu Mono', monospace;" expand="full" color="light" (click)="addControl()"><ion-icon name="add"></ion-icon> Más trabajos.</ion-button>
                                                </ion-list>
                                        </div>
                                        </div>
            
                                        <ion-row style="height: 3px;" end >
                                        
                                        
                                            <div class="hr-de-80">
                                                </div>
                                        
                                        </ion-row>
    

           <br>

            <ion-row style="text-align: center ;  justify-content: center; align-items: center; text-align: center;">

                                <ion-button class="btn-registrarme"  (click)="cliccked()" type="submit" color="primary" >
                                <strong style="font-family: 'Montserrat', sans-serif;" class="white">
                                CONTINUAR</strong>
                                </ion-button>

            </ion-row>

        </ion-grid>
    
    </section>
  

  </ion-content>
  
  
  
  