.CyrusLogoWhite{
    width: 110px;
    display:block;
    margin:auto;
    //height: 65px;
   }

   .centra {
    justify-content: center;
      position: center;
      text-align: center;
      display: flex;
      align-items: center;
      display: flex;
  }

   .btn-enviar{

    font-size: 10px;   
    height: 35px;
    width: 290px;
    justify-content: center;
    text-align: center;
    letter-spacing: 2px;
    //necesario para el radio redondo
    border-radius: 32px;
    overflow:hidden;
    //fin
  }