<ion-header translucent>
    <ion-toolbar color="tertiary"> 
      <img src="/assets/cyrusLogo.svg"
      
      no-margin margin-vertical text-center class="CyrusLogoWhite">   
      <br>
    </ion-toolbar>

</ion-header>

<ion-content>

<ion-calendar [(ngModel)]="dateMulti"
    [options]="optionsMulti"
    [type]="type"
    [format]="'YYYY-MM-DD'">
</ion-calendar>

<td>

</td>

<div class="centra">

            <ion-button  type="submit" style="border-radius: 32px; overflow:hidden;"
            color="primary" class="btn-enviar">
              <strong class="white">
                VER LISTA DE INVITACIONES</strong></ion-button>
</div>



</ion-content>
