<ion-header translucent>
    <ion-toolbar color="tertiary"> 
      <img src="/assets/cyrusLogo.svg"
      no-margin margin-vertical text-center class="CyrusLogoWhite">
      <br>
    </ion-toolbar>

  
  </ion-header>




  <ion-toolbar no-border-top >
    
      <ion-item >

      <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="promotions">
          NOTIFICACIONES
        </ion-segment-button>
      
        <ion-segment-button value="local">
           INBOX
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    </ion-toolbar>


  
  <ion-content padding>


      <div [ngSwitch]="segment">


      <ion-list *ngSwitchCase="'promotions'" >
            
  

        <ion-list>


<ion-item>
<ion-grid>

                <ion-row>
                    <ion-row class="espacio">
                    </ion-row>
                  <ion-col >
                      <ion-avatar>
                          <img style="width: 200px; height: 50px;" src="/assets/images/sala.jpg">
                        </ion-avatar>
                        
 
                  </ion-col>


                  <ion-col >
                      &nbsp;
                      <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                      &nbsp;&nbsp;&nbsp; -->
                 </ion-col>
                  <ion-col class="aliniacion_del_texto_en_la_columna">
                      
                    
                         <p  class="aliniacion_del_texto_en_la_columna">
                        &nbsp;
                        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        &nbsp;&nbsp;&nbsp; -->
                        NUEVAS OPORTUNIDADES<p>
                          
                          <br>
 

                        <div class="textito">
                        <p class="textito" >mira las oportunidades de eventos recomendados para ti.</p>
                        </div>  

                  </ion-col>
                </ion-row>


</ion-grid>
</ion-item>


<div class="espacio-de-diesiseis">
</div>

<ion-item>
    <ion-grid>
    
                    <ion-row>

                      <ion-col >

                          <ion-avatar>
                              <img style="width: 200px; height: 50px;" src="/assets/images/edita-perfil.jpg">
                            </ion-avatar>
                            
     
                      </ion-col>
    
    
                      <ion-col >
                          &nbsp;
                          <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                          &nbsp;&nbsp;&nbsp; -->
                     </ion-col>
                      <ion-col class="aliniacion_del_texto_en_la_columna">
                          
                        
                             <p  class="aliniacion_del_texto_en_la_columna">
                            &nbsp;
                            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                            &nbsp;&nbsp;&nbsp; -->
                            ACTUALIZA TU PERFIL<p>
                              
                              <br>
     
    
                            <div class="textito">
                            <p class="textito" >Por favor cambie su contraseña a una mas segura.</p>
                            </div>  
    
                      </ion-col>
                    </ion-row>
    
    
    </ion-grid>
    </ion-item>


<div class="espacio-de-diesiseis">
  </div>


    <ion-item>
        <ion-grid>
        
                        <ion-row>
    <br>    <br>
                          <ion-col >
    
                              <ion-avatar>
                                  <img style="width: 200px; height: 50px;" src="/assets/images/eventoslafiesta.jpg">
                                </ion-avatar>
                                
         
                          </ion-col>
        
        
                          <ion-col >
                              &nbsp;
                              <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                              &nbsp;&nbsp;&nbsp; -->
                         </ion-col>
                          <ion-col class="aliniacion_del_texto_en_la_columna">
                              
                            
                                 <p  class="aliniacion_del_texto_en_la_columna">
                                &nbsp;
                                <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                &nbsp;&nbsp;&nbsp; -->
                                TE LLEGO UN EVENTO<p>
                                  
                                  <br>
         
        
                                <div class="textito">
                                <p class="textito" >Estas Invitado a participar en el evento de Groupfround.</p>
                                </div>  
        
                          </ion-col>
                        </ion-row>
        
        
        </ion-grid>
        </ion-item>




       </ion-list>                
    
                
       </ion-list>




       
            <ion-list *ngSwitchCase="'local'" >
              
              <ion-item>
                <ion-grid>
                
                                <ion-row>
            <br>    <br>
                                  <ion-col >
            
                                      <ion-avatar>
                                          <img style="width: 200px; height: 50px;" src="/assets/images/icon.png">
                                        </ion-avatar>
                                        
                 
                                  </ion-col>
                
                
                                  <ion-col >
                                      &nbsp;
                                      <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                      &nbsp;&nbsp;&nbsp; -->
                                 </ion-col>
                                  <ion-col class="aliniacion_del_texto_en_la_columna">
                                      
                                    
                                         <p  class="aliniacion_del_texto_en_la_columna">
                                        &nbsp;
                                        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                        &nbsp;&nbsp;&nbsp; -->
                                        Equipo de LikeIU<p>
                                          
                                          <br>
                 
                
                                        <div class="textito">
                                        <p class="textito" >Bienvenido, Gracias por registrarte. Invita a tus amigos comparte tu codigo QR.</p>
                                        </div>  
                
                                  </ion-col>
                                </ion-row>
                
                
                </ion-grid>
                </ion-item>



            </ion-list>
     </div>
  
      
      
     
  </ion-content>