.CyrusLogoWhite{
    width: 110px;
    display:block;
    margin:auto;
    //height: 65px;
   }


   .aliniacion_del_texto_en_la_columna {

    font-size: 0.9rem;
    position: absolute;
    left: 40px;
    top: -8px;
    color: rgb(18, 18, 20);
    text-align: center;
    display: block;
    font-weight: bold;
  }


  .textito {
    width: 200px;
    height: 40px;
    font-size: 0.6rem;
    position: absolute;
    left: 35px;
    top: 10px;
    color: rgb(18, 18, 20);
    text-align: left;
    display: block;
    font-weight: bold;
  }


  .espacio-de-diesiseis {

    height:15px;
    // background:green;
  
  }





  
 

// NO QUIERO FONDO PLOMO POR ESO COMENTE LAS LISTAS
//    ion-list{
//     background: #333333;
    
//    }
//    var(--ion-item-background,var(--ion-background-color,#fff));