<ion-header translucent>
  <ion-toolbar color="tertiary"> 
    <img src="/assets/cyrusLogo.svg"
    no-margin margin-vertical text-center class="CyrusLogoWhite">
    <br>
  </ion-toolbar>

  </ion-header>

<ion-content >
  
  <ion-grid class="grid" >

    <ion-row style="height: 50%;">
          <ion-col (click)="vermilistadeinvitacionesview()" class="columna" style="width: 50%;">
                <ion-icon style="width: 80%; height: 80%;" color="primary" class="ver_mis_listas" src="/assets/ver_mi_lista_home.svg" ></ion-icon>
          </ion-col>
    </ion-row>
    <ion-row style="height: 50%;">
         <ion-col (click)="masoportunidadesview()" class="columna" style="width: 50%;">
              <ion-icon style="width: 80%; height: 80%;" class="mas_oportunidades" src="/assets/mas-oportunidades-home.svg" ></ion-icon>
         </ion-col>
    </ion-row>
    <ion-row style="height: 50%;">
      <ion-col (click)="vermicalendarioview()" class="columna" style="width: 50%;">
                <ion-icon style="width: 80%; height: 80%;" class="ver_mi_calendario" src="/assets/ver_mi_calendario_home.svg" ></ion-icon>
       </ion-col>
     </ion-row>
    <ion-row style="height: 50%;">
        <ion-col (click)="verdatosdecuentaview()" class="columna" style="width: 50%;">
              <ion-icon style="width: 80%; height: 80%;" class="ver_datos_cuenta" src="/assets/ver_datos_cuenta_home.svg" ></ion-icon>
        </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
