

<ion-content>


  <h3><ion-text><p>Imagenes</p></ion-text></h3>
  <ion-card>



  
       <div style="text-align: center; width: 100%;" [formGroup]="formGroup"  *ngIf="medicionesinputs!=null">
  
  
        <table  style="text-align: center;    display: grid;
        grid-template-columns: repeat(auto-fill, 40%);
        grid-gap: 1.5rem; width: 100%;" formArrayName="values">
        
        
          <thead style="text-align: center; width: 100%;">
            <tr style="text-align: center; width: 100%;">
              <!-- <th style="text-align: center; width: 50%;">Medidas:</th>
              <th style="text-align: center; width: 35%; ">Valor:</th>
              <th style="text-align: center; width: 15%; ">Unidad:</th> -->
            </tr>
          </thead>
        
          <br>  


  
          <tbody style="text-align: center; width: 100%;"  *ngFor="let image of medicionesinputs; index as y"   [formArrayName]="y">
            <ng-container style="text-align: center; width: 100%;" *ngFor="let data of ranges; index as x">
              <tr style="text-align: center; width: 100%; ">
                  <td style="text-align: left; width: 50%; ">
                    <p style="position: absolute;  height: 10%;">{{image.name}}</p>




                  </td>



                <!-- <td style="text-align: center; width: 50%; "> -->
                  <!-- <input style="text-align: center; width: 35%; " class="imputs" type="number" [formControlName]="x" placeholder="Valor" name='weight'> -->
                <!-- </td> -->
                <!-- <td style="text-align: center; width: 15%;">{{i.medida}}</td>       -->
              </tr>


              <tr style="text-align: center; width: 100%; ">
                <br>
                <br>
                <br>
            </tr>



              <tr style="text-align: center; width: 100%; ">
                <ion-button (click)="getImages($event, image)">Seleccionar</ion-button>

            </tr>


  
              <tr style="text-align: left; width: 100%;">
                <td style="text-align: left; width: 100%; ">
              
                <!-- <ion-card color="light" mode="ios"> -->

                        <div *ngIf="hideMe" >
                              <img  style="width: 100px; height:100px;" name="arrow-forward"  src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" no-margin margin-vertical text-center class="circle-photo-user"  alt="" srcset="">
                          </div>
                    
                          <!-- <div class="one-image" *ngFor="let img of imageResponse"> -->
                          <!-- <img  src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" no-margin margin-vertical text-center class="circle-photo-user"  alt="" srcset=""> -->
  
                          <div *ngIf="!hideMe"  id="image.name">
                          <img [id]="image.id" style="width: 100px; height:100px;" src="data:image/gif;base64,{{image.temporal}}" no-margin margin-vertical text-center class="circle-photo-user" alt="" srcset="">
                          </div>
                      <!-- </div> -->
                  
                  

                 
               </td>
             </tr>

                                
             

            </ng-container>
          </tbody>
        </table>
        </div>
  
  
  
        <br>    
  
  
        <ion-row style="text-align: center ;  justify-content: center; align-items: center; text-align: center;">
              <ion-button class="btn-registrarme" (click)="continuarimagencomplete()" type="submit" color="primary" >
                <strong style="font-family: 'Montserrat', sans-serif;" class="white">
                CONTINUAR</strong>
                </ion-button>
        </ion-row>    
  
  </ion-card>          
  
  <!-- previsualizador del formgroup       -->
        <!-- <pre>
          {{ formGroups.value | json }}
        </pre> -->
  
  
  </ion-content>
  