

<ion-content>


  <h3><ion-text><p>Tareas.</p></ion-text></h3>
  
  
       <div style="text-align: center; width: 100%;" [formGroup]="formGroup"  *ngIf="medicionesinputs!=null">
  
  
        <table  style="text-align: center;    display: grid;
        grid-template-columns: repeat(auto-fill, 40%);
        grid-gap: 1.5rem; width: 100%;" formArrayName="values">
        
        
          <thead style="text-align: center; width: 100%;">
            <tr style="text-align: center; width: 100%;">
              <!-- <th style="text-align: center; width: 50%;">Medidas:</th>
              <th style="text-align: center; width: 35%; ">Valor:</th>
              <th style="text-align: center; width: 15%; ">Unidad:</th> -->
            </tr>
          </thead>
        
          <br>  
  
          <tbody style="text-align: center; width: 100%;" *ngFor="let i of medicionesinputs; index as y" [formArrayName]="y">
            <ng-container style="text-align: center; width: 100%;" *ngFor="let data of ranges; index as x">
              <tr style="text-align: center; width: 100%;">
                  <td style="text-align: left; width: 9%;">
                  <ion-checkbox checked style="text-align: left; width: 70%; height:35% " class="imputs"  [formControlName]="x"  name='weight'>
                    </ion-checkbox>

                  </td>
                  <td style="text-align: left; width: 50%;">{{i.name}}</td>

                <!-- <td style="text-align: center; width: 50%; "> -->
                  <!-- <input style="text-align: center; width: 35%; " class="imputs" type="number" [formControlName]="x" placeholder="Valor" name='weight'> -->
                <!-- </td> -->
                <!-- <td style="text-align: center; width: 15%;">{{i.medida}}</td>       -->
              </tr>
  
              <!-- <tr style="text-align: left; width: 100%;">
                <td style="text-align: left; width: 100%; ">
                    {{i.medida}}
                </td>
              </tr> -->
            </ng-container>
          </tbody>
        </table>
        </div>
  
  
  

  
  
        <ion-row style="text-align: center ;  justify-content: center; align-items: center; text-align: center;">
        <ion-button class="btn-registrarme" (click)="asd()" type="submit" color="primary" >
          <strong style="font-family: 'Montserrat', sans-serif;" class="white">
          CONTINUAR</strong>
          </ion-button>
        </ion-row>    
  
  
  
  <!-- previsualizador del formgroup       -->
        <!-- <pre>
          {{ formGroups.value | json }}
        </pre> -->
  
  
  </ion-content>
  