.icon-heart{
    position: relative;;
    color: #3D5AD8;
    top: 20%;
    left: 20%;
    font-size: 25px;
}
.CyrusLogoWhite{
    width: 110px;
    display:block;
    margin:auto;
    //height: 65px;
   }

   .circuloboton {

    border-radius: 50%;
    overflow:hidden;

  }
  

  button {
	ion-badge {
		position: absolute;
		top: -0.2rem;
		right: -0.2rem;
		opacity: 0.9;

		& ~ ion-icon {
			margin-right: 1.2rem;
		}
	}
}
