<ion-header translucent>
    <ion-toolbar color="tertiary"> 
      <img src="/assets/cyrusLogo.svg"
      
      no-margin margin-vertical text-center class="CyrusLogoWhite">   
      <br>
    </ion-toolbar>

    <ion-toolbar  color="medium" style="color: rgb(36, 36, 36);text-align: center;">
        <ion-text center style="color: rgb(14, 14, 13));font-weight: bold;">Alertas.</ion-text>
    </ion-toolbar>

    </ion-header>
    
  <ion-content color="medium">



      <ion-grid>
          <ion-row>
            <ion-col>
               <ion-icon src="/assets/bell.svg" style="color:#3D5AD8"> 
                  </ion-icon> <small style="color:#fff">&nbsp;Notificaciones de empleo:</small>
            </ion-col>
          </ion-row>
      </ion-grid> 
        <!--cards how description-->
   <ion-card color="light" >

      <ion-card-header>
        <ion-card-subtitle>Descripción</ion-card-subtitle>
        <ion-card-title>A day with dance group.</ion-card-title>
      </ion-card-header>
        <ion-card-content>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout..
         <ion-grid>
           <ion-row>
             <ion-col>
                &nbsp;
             </ion-col>
             <ion-col>
                &nbsp;
              </ion-col>
              <ion-col>
                  <ion-icon src="/assets/bell.svg" class="icon-heart"></ion-icon>
              </ion-col>
              <ion-col>
                  <ion-button class="circuloboton" color="primary">X</ion-button>
              </ion-col>
           </ion-row>
         </ion-grid>
      
        </ion-card-content>
    </ion-card>
    <br>
    <ion-grid>
        <ion-row>
          <ion-col>
              <ion-icon src="/assets/bell.svg" style="color:#3D5AD8;"> 
                </ion-icon> <small style="color:#fff">&nbsp;Notificaciones de cuenta:</small>
          </ion-col>
        </ion-row>
     </ion-grid> 
    <ion-card color="light" >

        <ion-card-header>
          <ion-card-subtitle>Descripción</ion-card-subtitle>
          <ion-card-title>power gym party</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here.
        <ion-grid>
            <ion-row>
              <ion-col>
                 &nbsp;
              </ion-col>
              <ion-col>
                 &nbsp;
               </ion-col>
               <ion-col>
                  <ion-icon src="/assets/bell.svg" class="icon-heart"></ion-icon>
               </ion-col>
               <ion-col>
                   <ion-button class="circuloboton" color="primary">X</ion-button>
               </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
    </ion-card>
    <br>
    <ion-grid>
        <ion-row>
          <ion-col>
              <ion-icon src="/assets/bell.svg" style="color:#3D5AD8;"> 
                </ion-icon> <small style="color:#fff">&nbsp;Notificaciones de sus eventos</small>
          </ion-col>
        </ion-row>
     </ion-grid> 
    <ion-card color="light" >

        <ion-card-header>
          <ion-card-subtitle>Descripción</ion-card-subtitle>
          <ion-card-title>matrimonio arabe (Lunes) 5:30 PM</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout..
        <ion-grid>
            <ion-row>
              <ion-col>
                 &nbsp;
              </ion-col>
              <ion-col>
                 &nbsp;
               </ion-col>
               <ion-col>
                  <ion-icon src="/assets/bell.svg" class="icon-heart"></ion-icon>
               </ion-col>
               <ion-col>
                   <ion-button class="circuloboton" color="primary">X</ion-button>
               </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
    </ion-card>
    <br>
    <ion-grid>
        <ion-row>
          <ion-col>
              <ion-icon src="/assets/bell.svg" style="color:#3D5AD8;"> 
                </ion-icon> <small style="color:#fff">&nbsp;Notificaciones de pago:</small>
          </ion-col>
        </ion-row>
     </ion-grid> 
    <ion-card color="light" >

        <ion-card-header>
          <ion-card-subtitle>Descripción</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout..
        <ion-grid>
            <ion-row>
              <ion-col>
                 &nbsp;
              </ion-col>
              <ion-col>
                 &nbsp;
               </ion-col>
               <ion-col>
                  <ion-icon src="/assets/bell.svg" class="icon-heart"></ion-icon>
               </ion-col>
               <ion-col>
                   <ion-button class="circuloboton"  color="primary">X</ion-button>

               </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
    </ion-card>
    <br>

    
  </ion-content>
  